nodered/data/.flows.json.backup
[
    {
        "id": "0c8e0c86799d088c",
        "type": "tab",
        "label": "openAPI red",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a527806fb52a0bc0",
        "type": "tab",
        "label": "Thermostat Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2785aa7402e0c422",
        "type": "group",
        "z": "0c8e0c86799d088c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bfb6d9bfe0c540fc",
            "743761d0ea53bc31",
            "7292a72a4b6230c9",
            "d7f5f6ed015725be",
            "8708fbbaf99494f4",
            "eb7c8264bfd927b1",
            "fb837ec50d0e5ff5",
            "e590371eec36462b",
            "b6a518cae0ed236e",
            "d148bc258eb112ca",
            "a8b3b1803a943f5d",
            "2e21f69b42218552",
            "714e3635c401250f",
            "f86103930fc1fd85",
            "3323c6018c67090b",
            "7cdf47e943d3721a",
            "67e82cdae3014568",
            "60072a460f71141f"
        ],
        "x": 1094,
        "y": 579,
        "w": 832,
        "h": 442
    },
    {
        "id": "01c6034556accf3a",
        "type": "group",
        "z": "0c8e0c86799d088c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fb0068a4371ff253",
            "2810755f89def0ab",
            "9d2350b1eee037db",
            "75126d56d71e3c3c",
            "facfb133068f19c4",
            "cfb1e29cc9832121",
            "12d7924ce265af7b",
            "8c42edd3ad8f483f",
            "11c835bfe0e324a3",
            "84f43a190c420cc0",
            "9f53aae319aea21a",
            "e70c041c9abdaf24",
            "032cdf22b09cbf50",
            "fae3ae2c4e4f2543",
            "12e3afafe385aec5",
            "14862242a91c03b1",
            "18797dbc244535cc",
            "9810d92794505360",
            "7f3d299d1ec31a66"
        ],
        "x": 1094,
        "y": 59,
        "w": 772,
        "h": 482
    },
    {
        "id": "efb7a27e4dfae1f6",
        "type": "group",
        "z": "0c8e0c86799d088c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a683470f9f9d2be2",
            "fd241870fe8e402a",
            "a88e075f0ee05109",
            "f13e6ce1a71fb95e",
            "e5fe633619ed6e0a",
            "d2c25c70ca021b0e",
            "d9b0d7fcf676d77f",
            "ea87fde3734d5f09",
            "4a34670d715fd56d",
            "21f13b66e154f470",
            "852ef3b902872cf8",
            "6d87958f749b4d65",
            "c8b83ed3e66303c2",
            "1b52e6c758aacb10",
            "54ce4caefeb8ba12",
            "c6e69660fab90ac4",
            "17b0e03a9286c258",
            "deee4299c301b4a8",
            "5e6a3d87843af348",
            "9571f83d9ff1cfb7",
            "a7a87e65a43ce895",
            "4a87ce22e00f3efa",
            "16ff18397b551163",
            "c2a567a74171bc92",
            "a2798a84ebf29821",
            "8045a1d812f80bfb",
            "3a9e9aaa25a5c025",
            "2acfae3a3b04e41f",
            "6d04430b35be0819",
            "fe01a9e33899abda",
            "5be937fe9b529fc1",
            "1d6d17c456d6e266",
            "1d205353151b266e",
            "8d63e9e4de8cbe37",
            "f7e22af6d625591e",
            "c897adafa788de00",
            "65110c919e408b85",
            "8a432c1017ac312e",
            "d81d9db98b14b421",
            "ad8ebbbf4fad2678",
            "751bd26d424cc321"
        ],
        "x": 54,
        "y": 59,
        "w": 872,
        "h": 1024.5
    },
    {
        "id": "50a045551ea38743",
        "type": "group",
        "z": "a527806fb52a0bc0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d4f8c637ba287db1",
            "ba5dc6718d645637",
            "69ded1d17cbec561",
            "9a05b0be9bfe3225",
            "1d06a67200a8e66e",
            "27b270e5d78bc103",
            "d9d04269593328c3",
            "1eb2f1ad87e9df5c",
            "09f2f1cdc17cf192",
            "5fd815fb2caf5aba"
        ],
        "x": 94,
        "y": 39,
        "w": 1362,
        "h": 282
    },
    {
        "id": "a0bc03072058d078",
        "type": "group",
        "z": "a527806fb52a0bc0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "29eca096862b8fb4",
            "a759b38ff08da238",
            "b4d971cf3772f83e",
            "e97196a0d8d49460",
            "793cf3b0139849eb",
            "4c2bce897c0d2007",
            "dcb5ea5864cbccb9",
            "3d5df840425aed95",
            "6b793056cae7dfce"
        ],
        "x": 94,
        "y": 359,
        "w": 1302,
        "h": 222
    },
    {
        "id": "6996a7f421765b1a",
        "type": "group",
        "z": "a527806fb52a0bc0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1616e8d0253bffbf",
            "29a719f9730293ac",
            "b58e5041e4c9741b",
            "d83a4d77d7f049bf",
            "84eae99cd8fb8148",
            "9b07cf1424fb44b6",
            "499267adb5adb442",
            "02494731b443fa30",
            "4229373250208f05",
            "dba1b26fa3a4b0a8",
            "c0f6b3899961c14c",
            "ae9ed5515183f125",
            "bdacb97c9c98471c",
            "f42d0e7a987f22d0"
        ],
        "x": 94,
        "y": 619,
        "w": 1742,
        "h": 382
    },
    {
        "id": "38af56c2be0e770c",
        "type": "group",
        "z": "a527806fb52a0bc0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2f8c3fe9e3a364d1",
            "aec069bf440e39e4",
            "601a43db7ca6fa0a",
            "47886e634365fb88",
            "f324d4a123376c63",
            "f6b18e5f375f811d",
            "6aa34857a3f76ef9"
        ],
        "x": 94,
        "y": 1039,
        "w": 1332,
        "h": 162
    },
    {
        "id": "d6d6813509f8a19b",
        "type": "group",
        "z": "a527806fb52a0bc0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d4868acaa6b1056b",
            "format_coffee",
            "join_coffee",
            "debug_coffee",
            "b972287969dd1e02",
            "ui_size",
            "ui_strength",
            "ui_coffee_status"
        ],
        "x": 94,
        "y": 1259,
        "w": 1272,
        "h": 222
    },
    {
        "id": "4fc15b76b4d55d7d",
        "type": "openApi-red-url",
        "name": "petstore openApi (v3)",
        "url": "https://petstore3.swagger.io/api/v3/openapi.json",
        "urlType": "str",
        "server": "https://petstore3.swagger.io/api/v3",
        "serverType": "server",
        "devMode": false,
        "headers": [],
        "_version": "2.1.3"
    },
    {
        "id": "4e8e4d5957412be2",
        "type": "openApi-red-url",
        "name": "petstore swagger (v2)",
        "url": "https://petstore.swagger.io/v2/swagger.json",
        "urlType": "str",
        "server": "",
        "serverType": "custom",
        "devMode": false,
        "headers": [
            {
                "key": "HUND",
                "valueType": "str",
                "value": "Katze"
            },
            {
                "key": "Bearer",
                "valueType": "str",
                "value": ""
            }
        ],
        "_version": "2.1.3"
    },
    {
        "id": "ebcd5e7d922cbc68",
        "type": "openApi-red-url",
        "name": "",
        "url": "openapi.json",
        "urlType": "Files",
        "server": "http://172.16.1.1:5002/AirCondition_actuator",
        "serverType": "server",
        "devMode": "",
        "headers": [],
        "_version": "2.1.3"
    },
    {
        "id": "3551e0fac838662f",
        "type": "openApi-red-url",
        "name": "",
        "url": "openapi.json",
        "urlType": "Files",
        "server": "http://172.16.1.1:8080/AirCondition_actuator",
        "serverType": "server",
        "devMode": "",
        "headers": [],
        "_version": "2.1.3"
    },
    {
        "id": "51fce998cf99ca3b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://172.17.0.1:1883/",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthQos": "0",
        "willQos": "0"
    },
    {
        "id": "b0633354d56d9009",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4f0d8a914be2cfb6",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "172.17.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "mqtt_local_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "172.17.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "SmartHome",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "2566b457ab10c854",
        "type": "ui_group",
        "name": "Thermostat dashbaord",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dad53fb0db2749ce",
        "type": "ui_group",
        "name": "Smart Door",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2484b2e7392bda74",
        "type": "ui_group",
        "name": "AC control",
        "tab": "dashboard_tab",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bca09b7d8c2ffdc1",
        "type": "ui_group",
        "name": "Smart Lights",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a683470f9f9d2be2",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "fd241870fe8e402a",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "body body": {
                "name": "body",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "editor:body",
                "collapsed": false,
                "parameters": {
                    "id": {
                        "name": "id",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "msg",
                        "collapsed": false,
                        "value": "payload.body.id"
                    },
                    "category": {
                        "name": "category",
                        "activeFilter": "",
                        "type": "editor:Category",
                        "parameters": {
                            "id": {
                                "name": "id",
                                "activeFilter": ""
                            },
                            "name": {
                                "name": "name",
                                "activeFilter": ""
                            }
                        }
                    },
                    "name": {
                        "name": "name",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "msg",
                        "value": "payload.body.name"
                    },
                    "photoUrls": {
                        "name": "photoUrls",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "msg",
                        "value": "payload.body.photoUrls"
                    },
                    "tags": {
                        "name": "tags",
                        "activeFilter": ""
                    },
                    "status": {
                        "name": "status",
                        "activeFilter": ""
                    }
                },
                "in": "body"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 2,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            },
            {
                "code": "405",
                "text": "Invalid input"
            }
        ],
        "responseAsPayload": false,
        "debugMode": "",
        "headers": [
            {
                "key": "Affe",
                "valueType": "str",
                "value": "Elefant"
            }
        ],
        "_version": "2.2.0",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "a683470f9f9d2be2"
            ],
            [
                "c8b83ed3e66303c2"
            ]
        ]
    },
    {
        "id": "bfb6d9bfe0c540fc",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 720,
        "wires": [
            [
                "3323c6018c67090b"
            ]
        ]
    },
    {
        "id": "743761d0ea53bc31",
        "type": "switch",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "check msg.response.ok",
        "property": "payload.ok",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1630,
        "y": 720,
        "wires": [
            [
                "7292a72a4b6230c9"
            ],
            [
                "d7f5f6ed015725be"
            ]
        ]
    },
    {
        "id": "7292a72a4b6230c9",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 700,
        "wires": []
    },
    {
        "id": "d7f5f6ed015725be",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1830,
        "y": 740,
        "wires": []
    },
    {
        "id": "8708fbbaf99494f4",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "Standard",
        "info": "",
        "x": 1200,
        "y": 680,
        "wires": []
    },
    {
        "id": "eb7c8264bfd927b1",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 820,
        "wires": [
            [
                "7cdf47e943d3721a"
            ]
        ]
    },
    {
        "id": "fb837ec50d0e5ff5",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 800,
        "wires": []
    },
    {
        "id": "e590371eec36462b",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 840,
        "wires": []
    },
    {
        "id": "b6a518cae0ed236e",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "Other output",
        "info": "",
        "x": 1210,
        "y": 780,
        "wires": []
    },
    {
        "id": "d148bc258eb112ca",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 940,
        "wires": [
            [
                "67e82cdae3014568"
            ]
        ]
    },
    {
        "id": "a8b3b1803a943f5d",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 940,
        "wires": []
    },
    {
        "id": "2e21f69b42218552",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "Throw exception",
        "info": "",
        "x": 1220,
        "y": 900,
        "wires": []
    },
    {
        "id": "714e3635c401250f",
        "type": "catch",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "",
        "scope": [
            "67e82cdae3014568"
        ],
        "uncaught": false,
        "x": 1370,
        "y": 980,
        "wires": [
            [
                "f86103930fc1fd85"
            ]
        ]
    },
    {
        "id": "f86103930fc1fd85",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 980,
        "wires": []
    },
    {
        "id": "3323c6018c67090b",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "set an error",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "default",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "source": ""
        },
        "parameters": {
            "body body": {
                "name": "body",
                "isActive": true,
                "required": true,
                "type": "json",
                "value": "{\"name\":\"bad cat\",\"photoUrls\":\"not an array\"}",
                "in": "body"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            }
        ],
        "responseAsPayload": false,
        "headers": [],
        "_version": "2.2.0",
        "x": 1390,
        "y": 720,
        "wires": [
            [
                "743761d0ea53bc31"
            ]
        ]
    },
    {
        "id": "60072a460f71141f",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "Classic error handling",
        "info": "",
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "a88e075f0ee05109",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "pet shop swagger example",
        "info": "\n",
        "x": 210,
        "y": 160,
        "wires": []
    },
    {
        "id": "7cdf47e943d3721a",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "set an error",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "other output",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "source": ""
        },
        "parameters": {
            "body body": {
                "name": "body",
                "isActive": true,
                "required": true,
                "type": "json",
                "value": "{\"name\":\"bad cat\",\"photoUrls\":\"Not an array\"}",
                "in": "body"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 2,
        "responseOutputLabels": [
            {
                "code": "all",
                "text": "all responses"
            },
            {
                "code": "undefinedResponses",
                "text": "all undefined responses"
            }
        ],
        "responseAsPayload": false,
        "headers": [],
        "_version": "2.2.0",
        "x": 1390,
        "y": 820,
        "wires": [
            [
                "fb837ec50d0e5ff5"
            ],
            [
                "e590371eec36462b"
            ]
        ]
    },
    {
        "id": "67e82cdae3014568",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "set an error",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "source": ""
        },
        "parameters": {
            "body body": {
                "name": "body",
                "isActive": true,
                "required": true,
                "type": "json",
                "value": "{\"name\": \"bad cat\", \"photoUrls\": \"Not an array\"  }",
                "in": "body"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "all",
                "text": "all responses"
            }
        ],
        "responseAsPayload": false,
        "headers": [],
        "_version": "2.2.0",
        "x": 1390,
        "y": 940,
        "wires": [
            [
                "a8b3b1803a943f5d"
            ]
        ]
    },
    {
        "id": "f13e6ce1a71fb95e",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add pet 66",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "test",
                "v": "hund",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "d2c25c70ca021b0e"
            ]
        ]
    },
    {
        "id": "e5fe633619ed6e0a",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "d2c25c70ca021b0e",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add pet",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "required": true,
                "isActive": true,
                "activeFilter": "",
                "type": "json",
                "value": "{\n    \"id\": \"66\",\n    \"name\": \"Krawallnudel Lilli\",\n    \"category\": {},\n    \"photoUrls\": [],\n    \"tags\": [],\n    \"status\": \"available\"\n}",
                "collapsed": false
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 4,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "Successful operation"
            },
            {
                "code": "400",
                "text": "Invalid input"
            },
            {
                "code": "422",
                "text": "Validation exception"
            },
            {
                "code": "default",
                "text": "Unexpected error"
            }
        ],
        "responseAsPayload": false,
        "debugMode": false,
        "headers": [
            {
                "key": "abc",
                "valueType": "msg",
                "value": "test"
            }
        ],
        "_version": "2.2.0",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "e5fe633619ed6e0a"
            ],
            [
                "4a87ce22e00f3efa"
            ],
            [],
            []
        ]
    },
    {
        "id": "d9b0d7fcf676d77f",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "pet shop openApi 3 example",
        "info": "",
        "x": 220,
        "y": 480,
        "wires": []
    },
    {
        "id": "ea87fde3734d5f09",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "21f13b66e154f470"
            ]
        ]
    },
    {
        "id": "4a34670d715fd56d",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1000,
        "wires": []
    },
    {
        "id": "21f13b66e154f470",
        "type": "file in",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "filename": "./examples/dog.jpg",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "852ef3b902872cf8"
            ]
        ]
    },
    {
        "id": "852ef3b902872cf8",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "uploadFile",
            "hasOperationId": true,
            "path": "/pet/{petId}/uploadImage",
            "method": "post"
        },
        "outputStyle": "each response",
        "errorHandling": "other output",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "isActive": true,
                "activeFilter": "",
                "type": "msg",
                "value": "payload"
            },
            "petId path": {
                "name": "petId",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "num",
                "value": "66",
                "in": "path"
            },
            "additionalMetadata query": {
                "name": "additionalMetadata",
                "activeFilter": "",
                "type": "str",
                "value": "",
                "in": "query"
            }
        },
        "requestContentType": "application/octet-stream",
        "responseContentType": "application/json",
        "outputs": 5,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "successful operation"
            },
            {
                "code": "400",
                "text": "No file uploaded"
            },
            {
                "code": "404",
                "text": "Pet not found"
            },
            {
                "code": "default",
                "text": "Unexpected error"
            },
            {
                "code": "undefinedResponses",
                "text": "all undefined responses"
            }
        ],
        "responseAsPayload": true,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 570,
        "y": 1020,
        "wires": [
            [
                "4a34670d715fd56d"
            ],
            [
                "fe01a9e33899abda"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "6d87958f749b4d65",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "set a path to an existing file",
        "info": "",
        "x": 390,
        "y": 980,
        "wires": []
    },
    {
        "id": "c8b83ed3e66303c2",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 405",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "fb0068a4371ff253",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "set payload",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"id\": 451,  \"name\": \"Benny Superstar\", \"photoUrl\": [] }",
        "payloadType": "json",
        "x": 1210,
        "y": 140,
        "wires": [
            [
                "9d2350b1eee037db"
            ]
        ]
    },
    {
        "id": "2810755f89def0ab",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 140,
        "wires": []
    },
    {
        "id": "9d2350b1eee037db",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "body body": {
                "name": "body",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "editor:body",
                "collapsed": false,
                "parameters": {
                    "id": {
                        "name": "id",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "msg",
                        "value": "payload.id"
                    },
                    "category": {
                        "name": "category",
                        "activeFilter": "",
                        "type": "editor:Category",
                        "parameters": {
                            "id": {
                                "name": "id",
                                "activeFilter": "",
                                "type": "msg",
                                "value": "payload.category.id"
                            },
                            "name": {
                                "name": "name",
                                "activeFilter": "",
                                "type": "msg",
                                "value": "payload.category.name"
                            }
                        }
                    },
                    "name": {
                        "name": "name",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "msg",
                        "value": "payload.name"
                    },
                    "photoUrls": {
                        "name": "photoUrls",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "json",
                        "value": "[]"
                    },
                    "tags": {
                        "name": "tags",
                        "activeFilter": "",
                        "type": "json",
                        "value": "true"
                    },
                    "status": {
                        "name": "status",
                        "activeFilter": "",
                        "type": "msg",
                        "value": "payload.status"
                    }
                },
                "in": "body"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "all",
                "text": "all responses"
            }
        ],
        "responseAsPayload": false,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 1380,
        "y": 140,
        "wires": [
            [
                "2810755f89def0ab"
            ]
        ]
    },
    {
        "id": "75126d56d71e3c3c",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "pet shop swagger example (classic)",
        "info": "",
        "x": 1280,
        "y": 100,
        "wires": []
    },
    {
        "id": "facfb133068f19c4",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 360,
        "wires": [
            [
                "84f43a190c420cc0"
            ]
        ]
    },
    {
        "id": "cfb1e29cc9832121",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 360,
        "wires": []
    },
    {
        "id": "12d7924ce265af7b",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 1200,
        "y": 420,
        "wires": [
            [
                "11c835bfe0e324a3"
            ]
        ]
    },
    {
        "id": "8c42edd3ad8f483f",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 420,
        "wires": []
    },
    {
        "id": "11c835bfe0e324a3",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "getPetById",
            "hasOperationId": true,
            "path": "/pet/{petId}",
            "method": "get"
        },
        "outputStyle": "classic",
        "errorHandling": "default",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "source": ""
        },
        "parameters": {
            "petId path": {
                "name": "petId",
                "isActive": true,
                "required": true,
                "type": "num",
                "value": "47",
                "in": "path"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            }
        ],
        "responseAsPayload": false,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 1390,
        "y": 420,
        "wires": [
            [
                "8c42edd3ad8f483f"
            ]
        ]
    },
    {
        "id": "84f43a190c420cc0",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "default",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "required": true,
                "isActive": true,
                "type": "json",
                "value": "{\"id\":47,\"name\":\"Hildegard\",\"photoUrls\":[]}",
                "collapsed": false
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            }
        ],
        "responseAsPayload": false,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 1380,
        "y": 360,
        "wires": [
            [
                "cfb1e29cc9832121"
            ]
        ]
    },
    {
        "id": "9f53aae319aea21a",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "pet shop openApi 3 example (classic)",
        "info": "",
        "x": 1290,
        "y": 320,
        "wires": []
    },
    {
        "id": "e70c041c9abdaf24",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 500,
        "wires": [
            [
                "fae3ae2c4e4f2543"
            ]
        ]
    },
    {
        "id": "032cdf22b09cbf50",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 500,
        "wires": []
    },
    {
        "id": "fae3ae2c4e4f2543",
        "type": "file in",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "filename": "./examples/dog.jpg",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1410,
        "y": 500,
        "wires": [
            [
                "12e3afafe385aec5"
            ]
        ]
    },
    {
        "id": "12e3afafe385aec5",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "uploadFile",
            "hasOperationId": true,
            "path": "/pet/{petId}/uploadImage",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "default",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "isActive": true,
                "type": "msg",
                "value": "payload"
            },
            "petId path": {
                "name": "petId",
                "isActive": true,
                "required": true,
                "type": "num",
                "value": "66",
                "in": "path"
            },
            "additionalMetadata query": {
                "name": "additionalMetadata",
                "type": "str",
                "value": "",
                "in": "query"
            }
        },
        "requestContentType": "application/octet-stream",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            }
        ],
        "responseAsPayload": true,
        "headers": [],
        "_version": "2.2.0",
        "x": 1610,
        "y": 500,
        "wires": [
            [
                "032cdf22b09cbf50"
            ]
        ]
    },
    {
        "id": "14862242a91c03b1",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "set a path to an existing file",
        "info": "",
        "x": 1430,
        "y": 460,
        "wires": []
    },
    {
        "id": "18797dbc244535cc",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 220,
        "wires": [
            [
                "7f3d299d1ec31a66"
            ]
        ]
    },
    {
        "id": "9810d92794505360",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 220,
        "wires": []
    },
    {
        "id": "7f3d299d1ec31a66",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": false,
        "operationData": {
            "id": "getPetById",
            "hasOperationId": true,
            "path": "/pet/{petId}",
            "method": "get"
        },
        "outputStyle": "classic",
        "errorHandling": "default",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "petId path": {
                "name": "petId",
                "isActive": true,
                "required": true,
                "type": "num",
                "value": "451",
                "in": "path"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            }
        ],
        "responseAsPayload": true,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 1390,
        "y": 220,
        "wires": [
            [
                "9810d92794505360"
            ]
        ]
    },
    {
        "id": "1b52e6c758aacb10",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "get pet 451",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "451",
        "payloadType": "num",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "17b0e03a9286c258"
            ]
        ]
    },
    {
        "id": "54ce4caefeb8ba12",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 200",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "c6e69660fab90ac4",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 404",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "17b0e03a9286c258",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "getPetById",
            "hasOperationId": true,
            "path": "/pet/{petId}",
            "method": "get"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "petId path": {
                "name": "petId",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "msg",
                "collapsed": false,
                "value": "payload",
                "in": "path"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 3,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "successful operation"
            },
            {
                "code": "400",
                "text": "Invalid ID supplied"
            },
            {
                "code": "404",
                "text": "Pet not found"
            }
        ],
        "responseAsPayload": false,
        "debugMode": false,
        "headers": [
            {
                "key": "Hund",
                "valueType": "str",
                "value": "katze"
            }
        ],
        "_version": "2.2.0",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "54ce4caefeb8ba12"
            ],
            [
                "deee4299c301b4a8"
            ],
            [
                "c6e69660fab90ac4"
            ]
        ]
    },
    {
        "id": "deee4299c301b4a8",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 400",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "5e6a3d87843af348",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "error 404",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "17b0e03a9286c258"
            ]
        ]
    },
    {
        "id": "9571f83d9ff1cfb7",
        "type": "catch",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "catching all undefined responses",
        "scope": null,
        "uncaught": true,
        "x": 230,
        "y": 100,
        "wires": [
            [
                "a7a87e65a43ce895"
            ]
        ]
    },
    {
        "id": "a7a87e65a43ce895",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "error log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "4a87ce22e00f3efa",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 405",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "16ff18397b551163",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "get pet 66",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "66",
        "payloadType": "num",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "8045a1d812f80bfb"
            ]
        ]
    },
    {
        "id": "c2a567a74171bc92",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 200",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 820,
        "wires": []
    },
    {
        "id": "a2798a84ebf29821",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 404",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 900,
        "wires": []
    },
    {
        "id": "8045a1d812f80bfb",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "getPetById",
            "hasOperationId": true,
            "path": "/pet/{petId}",
            "method": "get"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "petId path": {
                "name": "petId",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "msg",
                "value": "payload",
                "in": "path"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 4,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "successful operation"
            },
            {
                "code": "400",
                "text": "Invalid ID supplied"
            },
            {
                "code": "404",
                "text": "Pet not found"
            },
            {
                "code": "default",
                "text": "Unexpected error"
            }
        ],
        "responseAsPayload": false,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 370,
        "y": 860,
        "wires": [
            [
                "c2a567a74171bc92"
            ],
            [
                "3a9e9aaa25a5c025"
            ],
            [
                "a2798a84ebf29821"
            ],
            []
        ]
    },
    {
        "id": "3a9e9aaa25a5c025",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 400",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 860,
        "wires": []
    },
    {
        "id": "2acfae3a3b04e41f",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "error 400",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"10a\"",
        "payloadType": "str",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "8045a1d812f80bfb"
            ]
        ]
    },
    {
        "id": "6d04430b35be0819",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "error 404",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 940,
        "wires": [
            [
                "8045a1d812f80bfb"
            ]
        ]
    },
    {
        "id": "fe01a9e33899abda",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "not defined response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5be937fe9b529fc1",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add pet 952",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "1d205353151b266e"
            ]
        ]
    },
    {
        "id": "1d6d17c456d6e266",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "1d205353151b266e",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add Pet by editor",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "required": true,
                "isActive": true,
                "activeFilter": "",
                "type": "editor:Pet",
                "parameters": {
                    "id": {
                        "name": "id",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "num",
                        "value": "952"
                    },
                    "name": {
                        "name": "name",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "str",
                        "value": "Mr. Whizzlecat"
                    },
                    "category": {
                        "name": "category",
                        "activeFilter": "",
                        "type": "editor:Category",
                        "parameters": {
                            "id": {
                                "name": "id",
                                "activeFilter": ""
                            },
                            "name": {
                                "name": "name",
                                "activeFilter": ""
                            }
                        }
                    },
                    "photoUrls": {
                        "name": "photoUrls",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "json",
                        "value": "[]"
                    },
                    "tags": {
                        "name": "tags",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "array",
                        "value": [
                            {
                                "name": 0,
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "editor:Tag",
                                "collapsed": false,
                                "value": "",
                                "parameters": {
                                    "id": {
                                        "name": "id",
                                        "isActive": true,
                                        "activeFilter": "",
                                        "required": false,
                                        "type": "num",
                                        "collapsed": true,
                                        "value": "123",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"0\"].id"
                                    },
                                    "name": {
                                        "name": "name",
                                        "isActive": true,
                                        "activeFilter": "",
                                        "required": false,
                                        "type": "str",
                                        "collapsed": true,
                                        "value": "has a tag",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"0\"].name"
                                    }
                                },
                                "msgPathString": "payload.tags[\"0\"]"
                            },
                            {
                                "name": 1,
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "editor:Tag",
                                "collapsed": false,
                                "value": "",
                                "parameters": {
                                    "id": {
                                        "name": "id",
                                        "isActive": true,
                                        "activeFilter": "",
                                        "required": false,
                                        "type": "num",
                                        "collapsed": true,
                                        "value": "124",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"1\"].id"
                                    },
                                    "name": {
                                        "name": "name",
                                        "isActive": true,
                                        "activeFilter": "",
                                        "required": false,
                                        "type": "str",
                                        "collapsed": true,
                                        "value": "and even a second one",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"1\"].name"
                                    }
                                },
                                "msgPathString": "payload.tags[\"1\"]"
                            }
                        ]
                    },
                    "status": {
                        "name": "status",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "select",
                        "value": "available"
                    }
                },
                "collapsed": false
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 2,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "Successful operation"
            },
            {
                "code": "405",
                "text": "Invalid input"
            }
        ],
        "responseAsPayload": false,
        "debugMode": false,
        "headers": [],
        "_version": "2.2.0",
        "x": 390,
        "y": 620,
        "wires": [
            [
                "1d6d17c456d6e266"
            ],
            [
                "8d63e9e4de8cbe37"
            ]
        ]
    },
    {
        "id": "8d63e9e4de8cbe37",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 405",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 640,
        "wires": []
    },
    {
        "id": "f7e22af6d625591e",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "get pet 952",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "952",
        "payloadType": "num",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "8045a1d812f80bfb"
            ]
        ]
    },
    {
        "id": "c897adafa788de00",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add pet 632",
        "props": [
            {
                "p": "id",
                "v": "632",
                "vt": "num"
            },
            {
                "p": "payload"
            },
            {
                "p": "urls",
                "v": "[\"http://www.myDog.de\",\"http://www.myDog.com\",\"http://www.myDog.at\",\"http://www.myDog.gov\"]",
                "vt": "json"
            },
            {
                "p": "isActive",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"id\":13,\"nameX\":\"YEAH\"},{\"id\":15,\"nameX\":\"IT\"},{\"id\":1232,\"nameX\":\"WORKS\"}]",
        "payloadType": "json",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "ad8ebbbf4fad2678"
            ]
        ]
    },
    {
        "id": "65110c919e408b85",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 700,
        "wires": []
    },
    {
        "id": "8a432c1017ac312e",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 405",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 740,
        "wires": []
    },
    {
        "id": "d81d9db98b14b421",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "get pet 632",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "632",
        "payloadType": "num",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "8045a1d812f80bfb"
            ]
        ]
    },
    {
        "id": "ad8ebbbf4fad2678",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add Pet by editor (has filter)",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "required": true,
                "isActive": true,
                "activeFilter": "",
                "type": "editor:Pet",
                "parameters": {
                    "id": {
                        "name": "id",
                        "isActive": true,
                        "activeFilter": "{\n\treturn value === 632\n}",
                        "type": "msg",
                        "collapsed": false,
                        "value": "id"
                    },
                    "name": {
                        "name": "name",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "str",
                        "value": "Doggy Mc Dogface"
                    },
                    "category": {
                        "name": "category",
                        "activeFilter": "",
                        "type": "editor:Category",
                        "collapsed": false,
                        "parameters": {
                            "id": {
                                "name": "id",
                                "activeFilter": ""
                            },
                            "name": {
                                "name": "name",
                                "activeFilter": ""
                            }
                        }
                    },
                    "photoUrls": {
                        "name": "photoUrls",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "each",
                        "collapsed": false,
                        "value": [
                            {
                                "name": "0",
                                "isActive": true,
                                "activeFilter": "{\n\treturn url !== \"http://www.myDog.at\"\n}",
                                "required": true,
                                "type": "_each_url",
                                "collapsed": true,
                                "value": "",
                                "parameters": {},
                                "msgPathString": "payload.photoUrls[\"0\"]"
                            }
                        ],
                        "eachType": "msg",
                        "each": "urls",
                        "as": "url"
                    },
                    "tags": {
                        "name": "tags",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "each",
                        "collapsed": false,
                        "value": [
                            {
                                "name": 0,
                                "isActive": true,
                                "required": true,
                                "type": "editor:Tag",
                                "collapsed": false,
                                "value": "[{ \"id\": \"integer\", \"name\": \"string\" }]",
                                "parameters": {
                                    "id": {
                                        "name": "id",
                                        "isActive": true,
                                        "required": false,
                                        "type": "_each_tag",
                                        "collapsed": true,
                                        "value": ".id",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"0\"].id",
                                        "activeFilter": "{\n\treturn tag.id !== 13\n}"
                                    },
                                    "name": {
                                        "name": "name",
                                        "isActive": true,
                                        "required": false,
                                        "type": "_each_tag",
                                        "collapsed": true,
                                        "value": ".nameX",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"0\"].name"
                                    }
                                },
                                "msgPathString": "payload.tags[\"0\"]",
                                "activeFilter": "{\n\treturn tag.id === 13 || tag.id === 15\n}"
                            }
                        ],
                        "eachType": "msg",
                        "each": "payload",
                        "as": "tag"
                    },
                    "status": {
                        "name": "status",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "select",
                        "value": "available"
                    }
                },
                "collapsed": false
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 2,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "Successful operation"
            },
            {
                "code": "405",
                "text": "Invalid input"
            }
        ],
        "responseAsPayload": false,
        "debugMode": false,
        "headers": [],
        "_version": "2.2.0",
        "x": 380,
        "y": 720,
        "wires": [
            [
                "65110c919e408b85"
            ],
            [
                "8a432c1017ac312e"
            ]
        ]
    },
    {
        "id": "751bd26d424cc321",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add pet 451",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "fd241870fe8e402a"
            ]
        ]
    },
    {
        "id": "d4f8c637ba287db1",
        "type": "inject",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Inject Current Temp",
        "props": [],
        "repeat": "5",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "ba5dc6718d645637"
            ]
        ]
    },
    {
        "id": "ba5dc6718d645637",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Generate Current Temp",
        "func": "msg.payload = { current: Math.floor(15 + Math.random() * 15) };\nreturn msg;",
        "outputs": 1,
        "x": 500,
        "y": 200,
        "wires": [
            [
                "69ded1d17cbec561",
                "27b270e5d78bc103"
            ]
        ]
    },
    {
        "id": "69ded1d17cbec561",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Compare and Decide",
        "func": "const desired = flow.get('desired_temp') || 22;\nconst current = msg.payload.current;\nlet state = \"IDLE\";\nif (current < desired - 1) state = \"HEATING\";\nelse if (current > desired + 1) state = \"COOLING\";\nmsg.payload = { temperature: desired, unit: \"C\", current, state };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "1d06a67200a8e66e"
            ]
        ]
    },
    {
        "id": "9a05b0be9bfe3225",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "group": "2566b457ab10c854",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Status Display",
        "label": "Thermostat Status",
        "format": "{{msg.payload.state}} | Current: {{msg.payload.current}}C | Target: {{msg.payload.temperature}}C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1330,
        "y": 260,
        "wires": []
    },
    {
        "id": "1d06a67200a8e66e",
        "type": "async-api-red",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Send to Thermostat Device",
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "d9d04269593328c3",
                "9a05b0be9bfe3225"
            ]
        ]
    },
    {
        "id": "27b270e5d78bc103",
        "type": "ui_gauge",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Current Temp",
        "group": "2566b457ab10c854",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "C",
        "format": "{{msg.payload.current}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "d9d04269593328c3",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 180,
        "wires": []
    },
    {
        "id": "1eb2f1ad87e9df5c",
        "type": "comment",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Thermostat simulation",
        "info": "",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "29eca096862b8fb4",
        "type": "inject",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Random Temp Generator",
        "props": [],
        "repeat": "5",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "a759b38ff08da238"
            ]
        ]
    },
    {
        "id": "a759b38ff08da238",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Generate Random Temp",
        "func": "const temp = Math.floor(Math.random() * 15) + 20;\nmsg.payload = { temperature: temp };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 460,
        "wires": [
            [
                "b4d971cf3772f83e"
            ]
        ]
    },
    {
        "id": "b4d971cf3772f83e",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Check AC State",
        "func": "const currentTemp = msg.payload.temperature;\nconst desiredTemp = flow.get(\"acDesiredTemp\") || 24;\nmsg.payload = {\n    temperature: currentTemp,\n    desired: desiredTemp,\n    unit: 'C',\n    state: currentTemp > desiredTemp ? \"ON\" : \"OFF\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 460,
        "wires": [
            [
                "e97196a0d8d49460"
            ]
        ]
    },
    {
        "id": "e97196a0d8d49460",
        "type": "async-api-red",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "AC Controller Node",
        "x": 1040,
        "y": 460,
        "wires": [
            [
                "793cf3b0139849eb",
                "dcb5ea5864cbccb9"
            ]
        ]
    },
    {
        "id": "793cf3b0139849eb",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Debug AC Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 460,
        "wires": []
    },
    {
        "id": "09f2f1cdc17cf192",
        "type": "ui_slider",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Desired Temp",
        "label": "Set Desired Temp",
        "tooltip": "",
        "group": "2566b457ab10c854",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 15,
        "max": 30,
        "step": 1,
        "className": "",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "5fd815fb2caf5aba"
            ]
        ]
    },
    {
        "id": "5fd815fb2caf5aba",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Store Desired Temp",
        "func": "flow.set('desired_temp', msg.payload);\nreturn null;",
        "outputs": 1,
        "x": 470,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4c2bce897c0d2007",
        "type": "comment",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "AC simulation",
        "info": "",
        "x": 190,
        "y": 400,
        "wires": []
    },
    {
        "id": "dcb5ea5864cbccb9",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "group": "2484b2e7392bda74",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "AC State",
        "label": "AC State",
        "format": "Current Temp: {{msg.payload.temperature}} C  AC is {{msg.payload.state}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1240,
        "y": 540,
        "wires": []
    },
    {
        "id": "3d5df840425aed95",
        "type": "ui_slider",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Desired Temp",
        "label": "Set Desired Temp",
        "tooltip": "",
        "group": "2484b2e7392bda74",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 15,
        "max": 30,
        "step": 1,
        "className": "",
        "x": 300,
        "y": 540,
        "wires": [
            [
                "6b793056cae7dfce"
            ]
        ]
    },
    {
        "id": "6b793056cae7dfce",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Store Desired Temp",
        "func": "flow.set('desired_temp', msg.payload);\nreturn null;",
        "outputs": 1,
        "x": 570,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1616e8d0253bffbf",
        "type": "inject",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Inject Random Brightness",
        "props": [],
        "repeat": "5",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 260,
        "y": 800,
        "wires": [
            [
                "29a719f9730293ac"
            ]
        ]
    },
    {
        "id": "29a719f9730293ac",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Generate Brightness",
        "func": "const brightness = Math.floor(Math.random() * 101);\nmsg.payload = { brightness };\nreturn msg;",
        "outputs": 1,
        "x": 520,
        "y": 740,
        "wires": [
            [
                "b58e5041e4c9741b",
                "d83a4d77d7f049bf"
            ]
        ]
    },
    {
        "id": "b58e5041e4c9741b",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Check Brightness",
        "func": "const brightness = msg.payload.brightness;\nmsg.payload = {\n    state: brightness >= 80 ? \"on\" : \"off\",\n    brightness\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 740,
        "wires": [
            [
                "dba1b26fa3a4b0a8"
            ]
        ]
    },
    {
        "id": "d83a4d77d7f049bf",
        "type": "ui_chart",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Brightness Chart",
        "group": "bca09b7d8c2ffdc1",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Brightness Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "84eae99cd8fb8148",
        "type": "switch",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Light ON or OFF?",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1230,
        "y": 680,
        "wires": [
            [
                "9b07cf1424fb44b6"
            ],
            [
                "499267adb5adb442"
            ]
        ]
    },
    {
        "id": "9b07cf1424fb44b6",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Count ON",
        "func": "let count = context.get('on') || 0;\ncount += 1;\ncontext.set('on', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "x": 1520,
        "y": 660,
        "wires": [
            [
                "02494731b443fa30"
            ]
        ]
    },
    {
        "id": "499267adb5adb442",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Count OFF",
        "func": "let count = context.get('off') || 0;\ncount += 1;\ncontext.set('off', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "x": 1520,
        "y": 700,
        "wires": [
            [
                "4229373250208f05"
            ]
        ]
    },
    {
        "id": "02494731b443fa30",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "group": "bca09b7d8c2ffdc1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Times ON",
        "label": "Light ON Count",
        "format": "{{msg.payload}} times",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1740,
        "y": 660,
        "wires": []
    },
    {
        "id": "4229373250208f05",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "group": "bca09b7d8c2ffdc1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Times OFF",
        "label": "Light OFF Count",
        "format": "{{msg.payload}} times",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1740,
        "y": 700,
        "wires": []
    },
    {
        "id": "dba1b26fa3a4b0a8",
        "type": "async-api-red",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Send to Light Device",
        "x": 1000,
        "y": 800,
        "wires": [
            [
                "84eae99cd8fb8148",
                "c0f6b3899961c14c",
                "ae9ed5515183f125",
                "bdacb97c9c98471c"
            ]
        ]
    },
    {
        "id": "c0f6b3899961c14c",
        "type": "ui_gauge",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Brightness",
        "group": "bca09b7d8c2ffdc1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Brightness",
        "label": "%",
        "format": "{{msg.payload.brightness}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 60,
        "seg2": 80,
        "diff": false,
        "className": "",
        "x": 1250,
        "y": 780,
        "wires": []
    },
    {
        "id": "ae9ed5515183f125",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "group": "bca09b7d8c2ffdc1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Light State",
        "label": "Light State",
        "format": "{{msg.payload.state}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1250,
        "y": 880,
        "wires": []
    },
    {
        "id": "bdacb97c9c98471c",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 960,
        "wires": []
    },
    {
        "id": "f42d0e7a987f22d0",
        "type": "comment",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "smartlights simulation",
        "info": "",
        "x": 220,
        "y": 660,
        "wires": []
    },
    {
        "id": "2f8c3fe9e3a364d1",
        "type": "ui_switch",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "Door Lock Switch",
        "label": "Lock Door",
        "tooltip": "",
        "group": "dad53fb0db2749ce",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 210,
        "y": 1140,
        "wires": [
            [
                "aec069bf440e39e4"
            ]
        ]
    },
    {
        "id": "aec069bf440e39e4",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "Format DoorLock Payload",
        "func": "msg.payload = { locked: msg.payload };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1140,
        "wires": [
            [
                "601a43db7ca6fa0a"
            ]
        ]
    },
    {
        "id": "601a43db7ca6fa0a",
        "type": "async-api-red",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "SmartDoor Lock ",
        "x": 720,
        "y": 1080,
        "wires": [
            [
                "f6b18e5f375f811d",
                "47886e634365fb88"
            ]
        ]
    },
    {
        "id": "47886e634365fb88",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "Update Dashboard Status",
        "func": "msg.payload = msg.payload.locked ? \"Locked\" : \"Unlocked\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1160,
        "wires": [
            [
                "f324d4a123376c63"
            ]
        ]
    },
    {
        "id": "f324d4a123376c63",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "group": "dad53fb0db2749ce",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Lock Status Text",
        "label": "Door Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1320,
        "y": 1160,
        "wires": []
    },
    {
        "id": "f6b18e5f375f811d",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6aa34857a3f76ef9",
        "type": "comment",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "Smartdoor",
        "info": "",
        "x": 180,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d4868acaa6b1056b",
        "type": "comment",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "cofee machine simulator",
        "info": "",
        "x": 230,
        "y": 1300,
        "wires": []
    },
    {
        "id": "format_coffee",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "Format Coffee Payload",
        "func": "msg.payload = {\n  strength: msg.payload.strength,\n  size: msg.payload.size\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 1400,
        "wires": [
            [
                "b972287969dd1e02"
            ]
        ]
    },
    {
        "id": "join_coffee",
        "type": "join",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "Join Strength & Size",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 480,
        "y": 1400,
        "wires": [
            [
                "format_coffee"
            ]
        ]
    },
    {
        "id": "debug_coffee",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "Debug Coffee Payload",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1220,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b972287969dd1e02",
        "type": "async-api-red",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "SmartDoor Lock ",
        "x": 1000,
        "y": 1400,
        "wires": [
            [
                "debug_coffee",
                "ui_coffee_status"
            ]
        ]
    },
    {
        "id": "ui_size",
        "type": "ui_dropdown",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "Select Size",
        "label": "Coffee Size",
        "tooltip": "",
        "place": "",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Small",
                "value": "small",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "medium",
                "type": "str"
            },
            {
                "label": "Large",
                "value": "large",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "size",
        "topicType": "str",
        "className": "",
        "x": 230,
        "y": 1440,
        "wires": [
            [
                "join_coffee"
            ]
        ]
    },
    {
        "id": "ui_strength",
        "type": "ui_dropdown",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "Select Strength",
        "label": "Coffee Strength",
        "tooltip": "",
        "place": "",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Light",
                "value": "light",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "medium",
                "type": "str"
            },
            {
                "label": "Strong",
                "value": "strong",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "strength",
        "topicType": "str",
        "className": "",
        "x": 220,
        "y": 1380,
        "wires": [
            [
                "join_coffee"
            ]
        ]
    },
    {
        "id": "ui_coffee_status",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "group": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Order Status",
        "label": "Coffee Order",
        "format": "{{msg.payload.strength}} / {{msg.payload.size}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1230,
        "y": 1420,
        "wires": []
    }
]