nodered/data/flows.json
[
    {
        "id": "68752de1d1718b99",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe8c7d2d17882ff9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7285f7e430313100",
        "type": "openApi-red-url",
        "name": "gg",
        "url": "openapi.json",
        "urlType": "Files",
        "server": "",
        "serverType": "custom",
        "devMode": "",
        "headers": [],
        "_version": "2.1.3"
    },
    {
        "id": "4fc15b76b4d55d7d",
        "type": "openApi-red-url",
        "name": "petstore openApi (v3)",
        "url": "https://petstore3.swagger.io/api/v3/openapi.json",
        "urlType": "str",
        "server": "https://petstore3.swagger.io/api/v3",
        "serverType": "server",
        "devMode": false,
        "headers": [],
        "_version": "2.1.3"
    },
    {
        "id": "4e8e4d5957412be2",
        "type": "openApi-red-url",
        "name": "petstore swagger (v2)",
        "url": "https://petstore.swagger.io/v2/swagger.json",
        "urlType": "str",
        "server": "",
        "serverType": "custom",
        "devMode": false,
        "headers": [
            {
                "key": "HUND",
                "valueType": "str",
                "value": "Katze"
            },
            {
                "key": "Bearer",
                "valueType": "str",
                "value": ""
            }
        ],
        "_version": "2.1.3"
    },
    {
        "id": "ebcd5e7d922cbc68",
        "type": "openApi-red-url",
        "name": "",
        "url": "openapi.json",
        "urlType": "Files",
        "server": "http://172.16.1.1:5002/AirCondition_actuator",
        "serverType": "server",
        "devMode": "",
        "headers": [],
        "_version": "2.1.3"
    },
    {
        "id": "3e8ab7c21b855680",
        "type": "async-api-red",
        "z": "68752de1d1718b99",
        "name": "",
        "selectedServer": "",
        "x": 690,
        "y": 320,
        "wires": [
            [
                "dcde07f5051dc6cf"
            ]
        ]
    },
    {
        "id": "e16108f4b68ab25f",
        "type": "inject",
        "z": "68752de1d1718b99",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "3e8ab7c21b855680"
            ]
        ]
    },
    {
        "id": "dcde07f5051dc6cf",
        "type": "debug",
        "z": "68752de1d1718b99",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 340,
        "wires": []
    }
]