nodered/data/flows.json
[
    {
        "id": "0c8e0c86799d088c",
        "type": "tab",
        "label": "openAPI red",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a527806fb52a0bc0",
        "type": "tab",
        "label": "Thermostat Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d68460b3bb47684e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7f4785e36cba6a2",
        "type": "tab",
        "label": "Thermostats Demo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eeca424b18026ca1",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "043c9b21da5cbba8",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "subflow-thermostat-logic",
        "type": "subflow",
        "name": "Thermostat Logic",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "f1b4a93aa4e5e122"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 80,
                "wires": [
                    {
                        "id": "f1b4a93aa4e5e122",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "2785aa7402e0c422",
        "type": "group",
        "z": "0c8e0c86799d088c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bfb6d9bfe0c540fc",
            "743761d0ea53bc31",
            "7292a72a4b6230c9",
            "d7f5f6ed015725be",
            "8708fbbaf99494f4",
            "eb7c8264bfd927b1",
            "fb837ec50d0e5ff5",
            "e590371eec36462b",
            "b6a518cae0ed236e",
            "d148bc258eb112ca",
            "a8b3b1803a943f5d",
            "2e21f69b42218552",
            "714e3635c401250f",
            "f86103930fc1fd85",
            "3323c6018c67090b",
            "7cdf47e943d3721a",
            "67e82cdae3014568",
            "60072a460f71141f"
        ],
        "x": 1094,
        "y": 579,
        "w": 832,
        "h": 442
    },
    {
        "id": "01c6034556accf3a",
        "type": "group",
        "z": "0c8e0c86799d088c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fb0068a4371ff253",
            "2810755f89def0ab",
            "9d2350b1eee037db",
            "75126d56d71e3c3c",
            "facfb133068f19c4",
            "cfb1e29cc9832121",
            "12d7924ce265af7b",
            "8c42edd3ad8f483f",
            "11c835bfe0e324a3",
            "84f43a190c420cc0",
            "9f53aae319aea21a",
            "e70c041c9abdaf24",
            "032cdf22b09cbf50",
            "fae3ae2c4e4f2543",
            "12e3afafe385aec5",
            "14862242a91c03b1",
            "18797dbc244535cc",
            "9810d92794505360",
            "7f3d299d1ec31a66"
        ],
        "x": 1094,
        "y": 59,
        "w": 772,
        "h": 482
    },
    {
        "id": "efb7a27e4dfae1f6",
        "type": "group",
        "z": "0c8e0c86799d088c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a683470f9f9d2be2",
            "fd241870fe8e402a",
            "a88e075f0ee05109",
            "f13e6ce1a71fb95e",
            "e5fe633619ed6e0a",
            "d2c25c70ca021b0e",
            "d9b0d7fcf676d77f",
            "ea87fde3734d5f09",
            "4a34670d715fd56d",
            "21f13b66e154f470",
            "852ef3b902872cf8",
            "6d87958f749b4d65",
            "c8b83ed3e66303c2",
            "1b52e6c758aacb10",
            "54ce4caefeb8ba12",
            "c6e69660fab90ac4",
            "17b0e03a9286c258",
            "deee4299c301b4a8",
            "5e6a3d87843af348",
            "9571f83d9ff1cfb7",
            "a7a87e65a43ce895",
            "4a87ce22e00f3efa",
            "16ff18397b551163",
            "c2a567a74171bc92",
            "a2798a84ebf29821",
            "8045a1d812f80bfb",
            "3a9e9aaa25a5c025",
            "2acfae3a3b04e41f",
            "6d04430b35be0819",
            "fe01a9e33899abda",
            "5be937fe9b529fc1",
            "1d6d17c456d6e266",
            "1d205353151b266e",
            "8d63e9e4de8cbe37",
            "f7e22af6d625591e",
            "c897adafa788de00",
            "65110c919e408b85",
            "8a432c1017ac312e",
            "d81d9db98b14b421",
            "ad8ebbbf4fad2678",
            "751bd26d424cc321"
        ],
        "x": 54,
        "y": 59,
        "w": 872,
        "h": 1024.5
    },
    {
        "id": "50a045551ea38743",
        "type": "group",
        "z": "a527806fb52a0bc0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d4f8c637ba287db1",
            "69ded1d17cbec561",
            "9a05b0be9bfe3225",
            "1d06a67200a8e66e",
            "d9d04269593328c3",
            "1eb2f1ad87e9df5c",
            "09f2f1cdc17cf192",
            "5fd815fb2caf5aba",
            "ba5dc6718d645637",
            "27b270e5d78bc103",
            "8081e1c458fe1e4b"
        ],
        "x": 94,
        "y": 79,
        "w": 1362,
        "h": 242
    },
    {
        "id": "a0bc03072058d078",
        "type": "group",
        "z": "a527806fb52a0bc0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4c2bce897c0d2007",
            "652fef5d99c41776",
            "98def4b9de0bd9e0",
            "977bf35655af95ea",
            "325004b4427897ea",
            "4ffc7d206027f2ef",
            "180cc2c38f2b7ec2",
            "6f5c1f35a0395420",
            "c90d975ea0894abd",
            "e5f04a5e61c95926",
            "87c71e9f1e18a5cb",
            "a11a61d05abb0fd9",
            "97a42e312b36f637",
            "96ab1cc712be6574",
            "3cdc3eae3c728601"
        ],
        "x": 94,
        "y": 359,
        "w": 1412,
        "h": 282
    },
    {
        "id": "6996a7f421765b1a",
        "type": "group",
        "z": "a527806fb52a0bc0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1616e8d0253bffbf",
            "29a719f9730293ac",
            "b58e5041e4c9741b",
            "d83a4d77d7f049bf",
            "84eae99cd8fb8148",
            "9b07cf1424fb44b6",
            "499267adb5adb442",
            "02494731b443fa30",
            "4229373250208f05",
            "dba1b26fa3a4b0a8",
            "c0f6b3899961c14c",
            "ae9ed5515183f125",
            "bdacb97c9c98471c",
            "f42d0e7a987f22d0"
        ],
        "x": 94,
        "y": 679,
        "w": 1742,
        "h": 382
    },
    {
        "id": "38af56c2be0e770c",
        "type": "group",
        "z": "a527806fb52a0bc0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2f8c3fe9e3a364d1",
            "aec069bf440e39e4",
            "601a43db7ca6fa0a",
            "47886e634365fb88",
            "f324d4a123376c63",
            "f6b18e5f375f811d",
            "6aa34857a3f76ef9"
        ],
        "x": 94,
        "y": 1099,
        "w": 1332,
        "h": 162
    },
    {
        "id": "d6d6813509f8a19b",
        "type": "group",
        "z": "a527806fb52a0bc0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d4868acaa6b1056b",
            "format_coffee",
            "join_coffee",
            "debug_coffee",
            "b972287969dd1e02",
            "ui_size",
            "ui_strength",
            "ui_coffee_status"
        ],
        "x": 94,
        "y": 1319,
        "w": 1272,
        "h": 222
    },
    {
        "id": "9d8fc96b503dd8a9",
        "type": "group",
        "z": "043c9b21da5cbba8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2c2826fa3fc78558",
            "f034a42a7690f2b6",
            "5d88956b6c0935c0",
            "386c2541306d379c",
            "c9dd5b14b31c8ac4",
            "80a07121563fc510",
            "5838340eeabc7fc3",
            "a9a704cd8fe91875",
            "f5b57f8f9931df1d",
            "da3a80e17247daa5"
        ],
        "x": 134,
        "y": 19,
        "w": 1362,
        "h": 282
    },
    {
        "id": "9d700ddc16539c15",
        "type": "group",
        "z": "043c9b21da5cbba8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4f9b9aad403a7716",
            "37bc8c54b51e0544",
            "238dc90f83e202b5",
            "47a8e2a4a04033b2",
            "19c76ec98c6c6f9e",
            "d91d138267780e70",
            "871fbf285c97ad32",
            "58cc42a80fabb538",
            "428fababd41468e5",
            "a2be1e487fc29763",
            "d402ccc398ad8e11",
            "f80d0cef913ac3b6",
            "7dad711be4a117f7",
            "b7bddd515b8a9da3",
            "9cc41c71b7e8e277"
        ],
        "x": 134,
        "y": 339,
        "w": 1412,
        "h": 282
    },
    {
        "id": "a2a5c6556a04c7ed",
        "type": "group",
        "z": "043c9b21da5cbba8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2611be0f7bfa29c3",
            "641a94a8fde2acc3",
            "bc1ec909440f8c22",
            "bd9cca5d85c07dd4",
            "60cd23ec6f422ac1",
            "59f210ba6791d0a1",
            "9f318a7151cc5d6d",
            "56bd1f17c275a653",
            "4077b1f7c25ba23c",
            "d543fbc9eaaeb755",
            "326076c19834796f",
            "6cf09c18f6619610",
            "b73d117192e42809",
            "db70af4f273bfc97"
        ],
        "x": 134,
        "y": 659,
        "w": 1742,
        "h": 382
    },
    {
        "id": "e49647927e3b9d1e",
        "type": "group",
        "z": "043c9b21da5cbba8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d9daa6e7df2953bb",
            "a87e8394d9f25e8c",
            "fb30e09493d3f725",
            "83982045fbc9296b",
            "0fb2875d235f6c99",
            "b6b89773a30b7a33",
            "f50a98b0aabb9eac"
        ],
        "x": 134,
        "y": 1079,
        "w": 1332,
        "h": 162
    },
    {
        "id": "1a95f1f2d410aea3",
        "type": "group",
        "z": "043c9b21da5cbba8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "efee14a4a88be124",
            "c12f4c5b3b6032a4",
            "1855218a50989a4b",
            "9b2e7830db9edc47",
            "a8097aa9ba390408",
            "cd4279d372ca3068",
            "921bcc21c54deadc",
            "9e910b904fa61a23"
        ],
        "x": 134,
        "y": 1299,
        "w": 1272,
        "h": 222
    },
    {
        "id": "111",
        "type": "ui_group",
        "name": "Thermostat 1",
        "tab": "main-tab",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "222",
        "type": "ui_group",
        "name": "Thermostat 2",
        "tab": "main-tab",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "4fc15b76b4d55d7d",
        "type": "openApi-red-url",
        "name": "petstore openApi (v3)",
        "url": "https://petstore3.swagger.io/api/v3/openapi.json",
        "urlType": "str",
        "server": "https://petstore3.swagger.io/api/v3",
        "serverType": "server",
        "devMode": false,
        "headers": [],
        "_version": "2.1.3"
    },
    {
        "id": "4e8e4d5957412be2",
        "type": "openApi-red-url",
        "name": "petstore swagger (v2)",
        "url": "https://petstore.swagger.io/v2/swagger.json",
        "urlType": "str",
        "server": "",
        "serverType": "custom",
        "devMode": false,
        "headers": [
            {
                "key": "HUND",
                "valueType": "str",
                "value": "Katze"
            },
            {
                "key": "Bearer",
                "valueType": "str",
                "value": ""
            }
        ],
        "_version": "2.1.3"
    },
    {
        "id": "ebcd5e7d922cbc68",
        "type": "openApi-red-url",
        "name": "",
        "url": "openapi.json",
        "urlType": "Files",
        "server": "http://172.16.1.1:5002/AirCondition_actuator",
        "serverType": "server",
        "devMode": "",
        "headers": [],
        "_version": "2.1.3"
    },
    {
        "id": "3551e0fac838662f",
        "type": "openApi-red-url",
        "name": "",
        "url": "openapi.json",
        "urlType": "Files",
        "server": "http://172.16.1.1:8080/AirCondition_actuator",
        "serverType": "server",
        "devMode": "",
        "headers": [],
        "_version": "2.1.3"
    },
    {
        "id": "51fce998cf99ca3b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://172.17.0.1:1883/",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthQos": "0",
        "willQos": "0"
    },
    {
        "id": "b0633354d56d9009",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4f0d8a914be2cfb6",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "172.17.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "mqtt_local_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "172.17.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "SmartHome",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "2566b457ab10c854",
        "type": "ui_group",
        "name": "Thermostat dashbaord",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dad53fb0db2749ce",
        "type": "ui_group",
        "name": "Smart Door",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2484b2e7392bda74",
        "type": "ui_group",
        "name": "AC control",
        "tab": "dashboard_tab",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bca09b7d8c2ffdc1",
        "type": "ui_group",
        "name": "Smart Lights",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b9c9d459bcc50b6b",
        "type": "ui_group",
        "name": "Coffee",
        "tab": "dashboard_tab",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dashboard_energy_group",
        "type": "ui_group",
        "name": "Energy Monitor",
        "tab": "dashboard_tab",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "main-tab",
        "type": "ui_tab",
        "name": "Thermostats",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "2c2826fa3fc78558",
        "type": "inject",
        "z": "043c9b21da5cbba8",
        "g": "9d8fc96b503dd8a9",
        "name": "Inject Current Temp",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "f5b57f8f9931df1d"
            ]
        ]
    },
    {
        "id": "f034a42a7690f2b6",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "9d8fc96b503dd8a9",
        "name": "Compare and Decide",
        "func": "const desired = flow.get('desired_temp') || 22;\nconst current = msg.payload.current;\nlet state = \"IDLE\";\nif (current < desired - 1) state = \"HEATING\";\nelse if (current > desired + 1) state = \"COOLING\";\nmsg.payload = { temperature: desired, unit: \"C\", current, state };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 140,
        "wires": [
            [
                "386c2541306d379c"
            ]
        ]
    },
    {
        "id": "5d88956b6c0935c0",
        "type": "ui_text",
        "z": "043c9b21da5cbba8",
        "g": "9d8fc96b503dd8a9",
        "group": "2566b457ab10c854",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Status Display",
        "label": "Thermostat Status",
        "format": "{{msg.payload.state}} | Current: {{msg.payload.current}}째C | Target: {{msg.payload.temperature}}째C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1370,
        "y": 240,
        "wires": []
    },
    {
        "id": "386c2541306d379c",
        "type": "async-api-red",
        "z": "043c9b21da5cbba8",
        "g": "9d8fc96b503dd8a9",
        "name": "Send to Thermostat Device",
        "x": 1050,
        "y": 180,
        "wires": [
            [
                "c9dd5b14b31c8ac4",
                "5d88956b6c0935c0"
            ]
        ]
    },
    {
        "id": "c9dd5b14b31c8ac4",
        "type": "debug",
        "z": "043c9b21da5cbba8",
        "g": "9d8fc96b503dd8a9",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 160,
        "wires": []
    },
    {
        "id": "80a07121563fc510",
        "type": "comment",
        "z": "043c9b21da5cbba8",
        "g": "9d8fc96b503dd8a9",
        "name": "Thermostat simulation",
        "info": "",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "5838340eeabc7fc3",
        "type": "ui_slider",
        "z": "043c9b21da5cbba8",
        "g": "9d8fc96b503dd8a9",
        "name": "Desired Temp",
        "label": "Set Desired Temp",
        "tooltip": "",
        "group": "2566b457ab10c854",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 15,
        "max": 30,
        "step": 1,
        "className": "",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "a9a704cd8fe91875"
            ]
        ]
    },
    {
        "id": "a9a704cd8fe91875",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "9d8fc96b503dd8a9",
        "name": "Store Desired Temp",
        "func": "flow.set('desired_temp', msg.payload);\nreturn null;",
        "outputs": 1,
        "x": 510,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f5b57f8f9931df1d",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "9d8fc96b503dd8a9",
        "name": "Generate Current Temp",
        "func": "msg.payload = { current: Math.floor(15 + Math.random() * 15) };\nreturn msg;",
        "outputs": 1,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "f034a42a7690f2b6",
                "da3a80e17247daa5"
            ]
        ]
    },
    {
        "id": "da3a80e17247daa5",
        "type": "ui_gauge",
        "z": "043c9b21da5cbba8",
        "g": "9d8fc96b503dd8a9",
        "name": "Current Temp",
        "group": "2566b457ab10c854",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "째C",
        "format": "{{msg.payload.current}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "4f9b9aad403a7716",
        "type": "comment",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "AC simulation",
        "info": "",
        "x": 230,
        "y": 400,
        "wires": []
    },
    {
        "id": "37bc8c54b51e0544",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "Check AC State",
        "func": "const currentTemp = msg.payload.temperature;\nconst desiredTemp = flow.get(\"desired_temp\") || 24;\nmsg.payload = {\n    temperature: currentTemp,\n    desired: desiredTemp,\n    unit: 'C',\n    state: currentTemp > desiredTemp ? \"ON\" : \"OFF\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 440,
        "wires": [
            [
                "238dc90f83e202b5",
                "9cc41c71b7e8e277"
            ]
        ]
    },
    {
        "id": "238dc90f83e202b5",
        "type": "async-api-red",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "AC Controller Node",
        "x": 1080,
        "y": 440,
        "wires": [
            [
                "47a8e2a4a04033b2",
                "19c76ec98c6c6f9e",
                "58cc42a80fabb538"
            ]
        ]
    },
    {
        "id": "47a8e2a4a04033b2",
        "type": "debug",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "Debug AC Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 400,
        "wires": []
    },
    {
        "id": "19c76ec98c6c6f9e",
        "type": "ui_text",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "group": "2484b2e7392bda74",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "AC State",
        "label": "AC State",
        "format": "AC is {{msg.payload.state}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1440,
        "y": 480,
        "wires": []
    },
    {
        "id": "d91d138267780e70",
        "type": "ui_slider",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "Desired Temp",
        "label": "Set Desired Temp",
        "tooltip": "",
        "group": "2484b2e7392bda74",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 15,
        "max": 30,
        "step": 1,
        "className": "",
        "x": 340,
        "y": 520,
        "wires": [
            [
                "871fbf285c97ad32"
            ]
        ]
    },
    {
        "id": "871fbf285c97ad32",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "Store Desired Temp",
        "func": "flow.set('desired_temp', msg.payload);\nreturn null;",
        "outputs": 1,
        "x": 610,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "58cc42a80fabb538",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "Track Energy",
        "func": "// Constants\nconst power_kW = 1.5; // Power usage of the AC in kW\n\n// Get previous state and timestamp\nconst prevState = flow.get(\"ac_last_state\") || \"OFF\";\nconst lastChange = flow.get(\"ac_last_change\") || Date.now();\nconst energy = flow.get(\"energy_consumed\") || 0;\n\nconst now = Date.now();\nlet newEnergy = energy;\n\nif (prevState === \"ON\" && msg.payload.state === \"OFF\") {\n    const durationHrs = (now - lastChange) / (1000 * 60 * 60);\n    newEnergy += durationHrs * power_kW;\n    flow.set(\"energy_consumed\", newEnergy);\n}\n\n// Update flow context\nflow.set(\"ac_last_state\", msg.payload.state);\nflow.set(\"ac_last_change\", now);\n\nmsg.energy = newEnergy.toFixed(3);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 520,
        "wires": [
            [
                "428fababd41468e5"
            ]
        ]
    },
    {
        "id": "428fababd41468e5",
        "type": "ui_text",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "group": "2484b2e7392bda74",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Energy Display",
        "label": "Total Energy (kWh)",
        "format": "{{msg.energy}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1440,
        "y": 560,
        "wires": []
    },
    {
        "id": "a2be1e487fc29763",
        "type": "ui_button",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "Reset Energy",
        "label": "Reset Energy",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "d402ccc398ad8e11"
            ]
        ]
    },
    {
        "id": "d402ccc398ad8e11",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "Reset Energy Values",
        "func": "flow.set(\"energy_consumed\", 0);\nflow.set(\"ac_last_change\", Date.now());\nreturn null;",
        "outputs": 0,
        "x": 610,
        "y": 580,
        "wires": []
    },
    {
        "id": "f80d0cef913ac3b6",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "Generate Current Temp",
        "func": "msg.payload = { temperature: Math.floor(15 + Math.random() * 15) };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "b7bddd515b8a9da3",
                "37bc8c54b51e0544"
            ]
        ]
    },
    {
        "id": "7dad711be4a117f7",
        "type": "inject",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "Inject Current Temp",
        "props": [],
        "repeat": "5",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 340,
        "y": 440,
        "wires": [
            [
                "f80d0cef913ac3b6"
            ]
        ]
    },
    {
        "id": "b7bddd515b8a9da3",
        "type": "ui_gauge",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "Current Temp",
        "group": "2484b2e7392bda74",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "째C",
        "format": "{{msg.payload.temperature}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "9cc41c71b7e8e277",
        "type": "debug",
        "z": "043c9b21da5cbba8",
        "g": "9d700ddc16539c15",
        "name": "input ac",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "2611be0f7bfa29c3",
        "type": "inject",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "name": "Inject Random Brightness",
        "props": [],
        "repeat": "5",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 300,
        "y": 840,
        "wires": [
            [
                "641a94a8fde2acc3"
            ]
        ]
    },
    {
        "id": "641a94a8fde2acc3",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "name": "Generate Brightness",
        "func": "const brightness = Math.floor(Math.random() * 101);\nmsg.payload = { brightness };\nreturn msg;",
        "outputs": 1,
        "x": 560,
        "y": 780,
        "wires": [
            [
                "bc1ec909440f8c22",
                "bd9cca5d85c07dd4"
            ]
        ]
    },
    {
        "id": "bc1ec909440f8c22",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "name": "Check Brightness",
        "func": "const brightness = msg.payload.brightness;\nmsg.payload = {\n    state: brightness >= 80 ? \"on\" : \"off\",\n    brightness\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 780,
        "wires": [
            [
                "d543fbc9eaaeb755"
            ]
        ]
    },
    {
        "id": "bd9cca5d85c07dd4",
        "type": "ui_chart",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "name": "Brightness Chart",
        "group": "bca09b7d8c2ffdc1",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Brightness Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "60cd23ec6f422ac1",
        "type": "switch",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "name": "Light ON or OFF?",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1270,
        "y": 720,
        "wires": [
            [
                "59f210ba6791d0a1"
            ],
            [
                "9f318a7151cc5d6d"
            ]
        ]
    },
    {
        "id": "59f210ba6791d0a1",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "name": "Count ON",
        "func": "let count = context.get('on') || 0;\ncount += 1;\ncontext.set('on', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "x": 1560,
        "y": 700,
        "wires": [
            [
                "56bd1f17c275a653"
            ]
        ]
    },
    {
        "id": "9f318a7151cc5d6d",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "name": "Count OFF",
        "func": "let count = context.get('off') || 0;\ncount += 1;\ncontext.set('off', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "x": 1560,
        "y": 740,
        "wires": [
            [
                "4077b1f7c25ba23c"
            ]
        ]
    },
    {
        "id": "56bd1f17c275a653",
        "type": "ui_text",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "group": "bca09b7d8c2ffdc1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Times ON",
        "label": "Light ON Count",
        "format": "{{msg.payload}} times",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1780,
        "y": 700,
        "wires": []
    },
    {
        "id": "4077b1f7c25ba23c",
        "type": "ui_text",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "group": "bca09b7d8c2ffdc1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Times OFF",
        "label": "Light OFF Count",
        "format": "{{msg.payload}} times",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1780,
        "y": 740,
        "wires": []
    },
    {
        "id": "d543fbc9eaaeb755",
        "type": "async-api-red",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "name": "Send to Light Device",
        "x": 1040,
        "y": 840,
        "wires": [
            [
                "60cd23ec6f422ac1",
                "326076c19834796f",
                "6cf09c18f6619610",
                "b73d117192e42809"
            ]
        ]
    },
    {
        "id": "326076c19834796f",
        "type": "ui_gauge",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "name": "Brightness",
        "group": "bca09b7d8c2ffdc1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Brightness",
        "label": "%",
        "format": "{{msg.payload.brightness}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 60,
        "seg2": 80,
        "diff": false,
        "className": "",
        "x": 1290,
        "y": 820,
        "wires": []
    },
    {
        "id": "6cf09c18f6619610",
        "type": "ui_text",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "group": "bca09b7d8c2ffdc1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Light State",
        "label": "Light State",
        "format": "{{msg.payload.state}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1290,
        "y": 920,
        "wires": []
    },
    {
        "id": "b73d117192e42809",
        "type": "debug",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1000,
        "wires": []
    },
    {
        "id": "db70af4f273bfc97",
        "type": "comment",
        "z": "043c9b21da5cbba8",
        "g": "a2a5c6556a04c7ed",
        "name": "smartlights simulation",
        "info": "",
        "x": 260,
        "y": 700,
        "wires": []
    },
    {
        "id": "d9daa6e7df2953bb",
        "type": "ui_switch",
        "z": "043c9b21da5cbba8",
        "g": "e49647927e3b9d1e",
        "name": "Door Lock Switch",
        "label": "Lock Door",
        "tooltip": "",
        "group": "dad53fb0db2749ce",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 1180,
        "wires": [
            [
                "a87e8394d9f25e8c"
            ]
        ]
    },
    {
        "id": "a87e8394d9f25e8c",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "e49647927e3b9d1e",
        "name": "Format DoorLock Payload",
        "func": "msg.payload = { locked: msg.payload };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1180,
        "wires": [
            [
                "fb30e09493d3f725"
            ]
        ]
    },
    {
        "id": "fb30e09493d3f725",
        "type": "async-api-red",
        "z": "043c9b21da5cbba8",
        "g": "e49647927e3b9d1e",
        "name": "SmartDoor Lock ",
        "x": 760,
        "y": 1120,
        "wires": [
            [
                "b6b89773a30b7a33",
                "83982045fbc9296b"
            ]
        ]
    },
    {
        "id": "83982045fbc9296b",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "e49647927e3b9d1e",
        "name": "Update Dashboard Status",
        "func": "msg.payload = msg.payload.locked ? \"Locked\" : \"Unlocked\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 1200,
        "wires": [
            [
                "0fb2875d235f6c99"
            ]
        ]
    },
    {
        "id": "0fb2875d235f6c99",
        "type": "ui_text",
        "z": "043c9b21da5cbba8",
        "g": "e49647927e3b9d1e",
        "group": "dad53fb0db2749ce",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Lock Status Text",
        "label": "Door Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b6b89773a30b7a33",
        "type": "debug",
        "z": "043c9b21da5cbba8",
        "g": "e49647927e3b9d1e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f50a98b0aabb9eac",
        "type": "comment",
        "z": "043c9b21da5cbba8",
        "g": "e49647927e3b9d1e",
        "name": "Smartdoor",
        "info": "",
        "x": 220,
        "y": 1120,
        "wires": []
    },
    {
        "id": "efee14a4a88be124",
        "type": "comment",
        "z": "043c9b21da5cbba8",
        "g": "1a95f1f2d410aea3",
        "name": "cofee machine simulator",
        "info": "",
        "x": 270,
        "y": 1340,
        "wires": []
    },
    {
        "id": "c12f4c5b3b6032a4",
        "type": "function",
        "z": "043c9b21da5cbba8",
        "g": "1a95f1f2d410aea3",
        "name": "Format Coffee Payload",
        "func": "msg.payload = {\n  strength: msg.payload.strength,\n  size: msg.payload.size\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 1440,
        "wires": [
            [
                "a8097aa9ba390408"
            ]
        ]
    },
    {
        "id": "1855218a50989a4b",
        "type": "join",
        "z": "043c9b21da5cbba8",
        "g": "1a95f1f2d410aea3",
        "name": "Join Strength & Size",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 520,
        "y": 1440,
        "wires": [
            [
                "c12f4c5b3b6032a4"
            ]
        ]
    },
    {
        "id": "9b2e7830db9edc47",
        "type": "debug",
        "z": "043c9b21da5cbba8",
        "g": "1a95f1f2d410aea3",
        "name": "Debug Coffee Payload",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1260,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a8097aa9ba390408",
        "type": "async-api-red",
        "z": "043c9b21da5cbba8",
        "g": "1a95f1f2d410aea3",
        "name": "SmartDoor Lock ",
        "x": 1040,
        "y": 1440,
        "wires": [
            [
                "9b2e7830db9edc47",
                "9e910b904fa61a23"
            ]
        ]
    },
    {
        "id": "cd4279d372ca3068",
        "type": "ui_dropdown",
        "z": "043c9b21da5cbba8",
        "g": "1a95f1f2d410aea3",
        "name": "Select Size",
        "label": "Coffee Size",
        "tooltip": "",
        "place": "",
        "group": "b9c9d459bcc50b6b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Small",
                "value": "small",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "medium",
                "type": "str"
            },
            {
                "label": "Large",
                "value": "large",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "size",
        "topicType": "str",
        "className": "",
        "x": 270,
        "y": 1480,
        "wires": [
            [
                "1855218a50989a4b"
            ]
        ]
    },
    {
        "id": "921bcc21c54deadc",
        "type": "ui_dropdown",
        "z": "043c9b21da5cbba8",
        "g": "1a95f1f2d410aea3",
        "name": "Select Strength",
        "label": "Coffee Strength",
        "tooltip": "",
        "place": "",
        "group": "b9c9d459bcc50b6b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Light",
                "value": "light",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "medium",
                "type": "str"
            },
            {
                "label": "Strong",
                "value": "strong",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "strength",
        "topicType": "str",
        "className": "",
        "x": 260,
        "y": 1420,
        "wires": [
            [
                "1855218a50989a4b"
            ]
        ]
    },
    {
        "id": "9e910b904fa61a23",
        "type": "ui_text",
        "z": "043c9b21da5cbba8",
        "g": "1a95f1f2d410aea3",
        "group": "b9c9d459bcc50b6b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Order Status",
        "label": "Coffee Order",
        "format": "{{msg.payload.strength}} / {{msg.payload.size}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1270,
        "y": 1460,
        "wires": []
    },
    {
        "id": "f1b4a93aa4e5e122",
        "type": "function",
        "z": "subflow-thermostat-logic",
        "name": "Compare Temps",
        "func": "const desired = msg.desired || 22;\nconst current = msg.payload.current;\nlet state = \"IDLE\";\n\nif (current < desired - 1) state = \"HEATING\";\nelse if (current > desired + 1) state = \"COOLING\";\n\nmsg.payload = {\n    current,\n    desired,\n    state\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a683470f9f9d2be2",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "fd241870fe8e402a",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "body body": {
                "name": "body",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "editor:body",
                "collapsed": false,
                "parameters": {
                    "id": {
                        "name": "id",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "msg",
                        "collapsed": false,
                        "value": "payload.body.id"
                    },
                    "category": {
                        "name": "category",
                        "activeFilter": "",
                        "type": "editor:Category",
                        "parameters": {
                            "id": {
                                "name": "id",
                                "activeFilter": ""
                            },
                            "name": {
                                "name": "name",
                                "activeFilter": ""
                            }
                        }
                    },
                    "name": {
                        "name": "name",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "msg",
                        "value": "payload.body.name"
                    },
                    "photoUrls": {
                        "name": "photoUrls",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "msg",
                        "value": "payload.body.photoUrls"
                    },
                    "tags": {
                        "name": "tags",
                        "activeFilter": ""
                    },
                    "status": {
                        "name": "status",
                        "activeFilter": ""
                    }
                },
                "in": "body"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 2,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            },
            {
                "code": "405",
                "text": "Invalid input"
            }
        ],
        "responseAsPayload": false,
        "debugMode": "",
        "headers": [
            {
                "key": "Affe",
                "valueType": "str",
                "value": "Elefant"
            }
        ],
        "_version": "2.2.0",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "a683470f9f9d2be2"
            ],
            [
                "c8b83ed3e66303c2"
            ]
        ]
    },
    {
        "id": "bfb6d9bfe0c540fc",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 720,
        "wires": [
            [
                "3323c6018c67090b"
            ]
        ]
    },
    {
        "id": "743761d0ea53bc31",
        "type": "switch",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "check msg.response.ok",
        "property": "payload.ok",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1630,
        "y": 720,
        "wires": [
            [
                "7292a72a4b6230c9"
            ],
            [
                "d7f5f6ed015725be"
            ]
        ]
    },
    {
        "id": "7292a72a4b6230c9",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 700,
        "wires": []
    },
    {
        "id": "d7f5f6ed015725be",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1830,
        "y": 740,
        "wires": []
    },
    {
        "id": "8708fbbaf99494f4",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "Standard",
        "info": "",
        "x": 1200,
        "y": 680,
        "wires": []
    },
    {
        "id": "eb7c8264bfd927b1",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 820,
        "wires": [
            [
                "7cdf47e943d3721a"
            ]
        ]
    },
    {
        "id": "fb837ec50d0e5ff5",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 800,
        "wires": []
    },
    {
        "id": "e590371eec36462b",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 840,
        "wires": []
    },
    {
        "id": "b6a518cae0ed236e",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "Other output",
        "info": "",
        "x": 1210,
        "y": 780,
        "wires": []
    },
    {
        "id": "d148bc258eb112ca",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 940,
        "wires": [
            [
                "67e82cdae3014568"
            ]
        ]
    },
    {
        "id": "a8b3b1803a943f5d",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 940,
        "wires": []
    },
    {
        "id": "2e21f69b42218552",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "Throw exception",
        "info": "",
        "x": 1220,
        "y": 900,
        "wires": []
    },
    {
        "id": "714e3635c401250f",
        "type": "catch",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "",
        "scope": [
            "67e82cdae3014568"
        ],
        "uncaught": false,
        "x": 1370,
        "y": 980,
        "wires": [
            [
                "f86103930fc1fd85"
            ]
        ]
    },
    {
        "id": "f86103930fc1fd85",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 980,
        "wires": []
    },
    {
        "id": "3323c6018c67090b",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "set an error",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "default",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "source": ""
        },
        "parameters": {
            "body body": {
                "name": "body",
                "isActive": true,
                "required": true,
                "type": "json",
                "value": "{\"name\":\"bad cat\",\"photoUrls\":\"not an array\"}",
                "in": "body"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            }
        ],
        "responseAsPayload": false,
        "headers": [],
        "_version": "2.2.0",
        "x": 1390,
        "y": 720,
        "wires": [
            [
                "743761d0ea53bc31"
            ]
        ]
    },
    {
        "id": "60072a460f71141f",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "Classic error handling",
        "info": "",
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "a88e075f0ee05109",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "pet shop swagger example",
        "info": "\n",
        "x": 210,
        "y": 160,
        "wires": []
    },
    {
        "id": "7cdf47e943d3721a",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "set an error",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "other output",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "source": ""
        },
        "parameters": {
            "body body": {
                "name": "body",
                "isActive": true,
                "required": true,
                "type": "json",
                "value": "{\"name\":\"bad cat\",\"photoUrls\":\"Not an array\"}",
                "in": "body"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 2,
        "responseOutputLabels": [
            {
                "code": "all",
                "text": "all responses"
            },
            {
                "code": "undefinedResponses",
                "text": "all undefined responses"
            }
        ],
        "responseAsPayload": false,
        "headers": [],
        "_version": "2.2.0",
        "x": 1390,
        "y": 820,
        "wires": [
            [
                "fb837ec50d0e5ff5"
            ],
            [
                "e590371eec36462b"
            ]
        ]
    },
    {
        "id": "67e82cdae3014568",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "2785aa7402e0c422",
        "name": "set an error",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "source": ""
        },
        "parameters": {
            "body body": {
                "name": "body",
                "isActive": true,
                "required": true,
                "type": "json",
                "value": "{\"name\": \"bad cat\", \"photoUrls\": \"Not an array\"  }",
                "in": "body"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "all",
                "text": "all responses"
            }
        ],
        "responseAsPayload": false,
        "headers": [],
        "_version": "2.2.0",
        "x": 1390,
        "y": 940,
        "wires": [
            [
                "a8b3b1803a943f5d"
            ]
        ]
    },
    {
        "id": "f13e6ce1a71fb95e",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add pet 66",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "test",
                "v": "hund",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "d2c25c70ca021b0e"
            ]
        ]
    },
    {
        "id": "e5fe633619ed6e0a",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "d2c25c70ca021b0e",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add pet",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "required": true,
                "isActive": true,
                "activeFilter": "",
                "type": "json",
                "value": "{\n    \"id\": \"66\",\n    \"name\": \"Krawallnudel Lilli\",\n    \"category\": {},\n    \"photoUrls\": [],\n    \"tags\": [],\n    \"status\": \"available\"\n}",
                "collapsed": false
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 4,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "Successful operation"
            },
            {
                "code": "400",
                "text": "Invalid input"
            },
            {
                "code": "422",
                "text": "Validation exception"
            },
            {
                "code": "default",
                "text": "Unexpected error"
            }
        ],
        "responseAsPayload": false,
        "debugMode": false,
        "headers": [
            {
                "key": "abc",
                "valueType": "msg",
                "value": "test"
            }
        ],
        "_version": "2.2.0",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "e5fe633619ed6e0a"
            ],
            [
                "4a87ce22e00f3efa"
            ],
            [],
            []
        ]
    },
    {
        "id": "d9b0d7fcf676d77f",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "pet shop openApi 3 example",
        "info": "",
        "x": 220,
        "y": 480,
        "wires": []
    },
    {
        "id": "ea87fde3734d5f09",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "21f13b66e154f470"
            ]
        ]
    },
    {
        "id": "4a34670d715fd56d",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1000,
        "wires": []
    },
    {
        "id": "21f13b66e154f470",
        "type": "file in",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "filename": "./examples/dog.jpg",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "852ef3b902872cf8"
            ]
        ]
    },
    {
        "id": "852ef3b902872cf8",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "uploadFile",
            "hasOperationId": true,
            "path": "/pet/{petId}/uploadImage",
            "method": "post"
        },
        "outputStyle": "each response",
        "errorHandling": "other output",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "isActive": true,
                "activeFilter": "",
                "type": "msg",
                "value": "payload"
            },
            "petId path": {
                "name": "petId",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "num",
                "value": "66",
                "in": "path"
            },
            "additionalMetadata query": {
                "name": "additionalMetadata",
                "activeFilter": "",
                "type": "str",
                "value": "",
                "in": "query"
            }
        },
        "requestContentType": "application/octet-stream",
        "responseContentType": "application/json",
        "outputs": 5,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "successful operation"
            },
            {
                "code": "400",
                "text": "No file uploaded"
            },
            {
                "code": "404",
                "text": "Pet not found"
            },
            {
                "code": "default",
                "text": "Unexpected error"
            },
            {
                "code": "undefinedResponses",
                "text": "all undefined responses"
            }
        ],
        "responseAsPayload": true,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 570,
        "y": 1020,
        "wires": [
            [
                "4a34670d715fd56d"
            ],
            [
                "fe01a9e33899abda"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "6d87958f749b4d65",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "set a path to an existing file",
        "info": "",
        "x": 390,
        "y": 980,
        "wires": []
    },
    {
        "id": "c8b83ed3e66303c2",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 405",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "fb0068a4371ff253",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "set payload",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"id\": 451,  \"name\": \"Benny Superstar\", \"photoUrl\": [] }",
        "payloadType": "json",
        "x": 1210,
        "y": 140,
        "wires": [
            [
                "9d2350b1eee037db"
            ]
        ]
    },
    {
        "id": "2810755f89def0ab",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 140,
        "wires": []
    },
    {
        "id": "9d2350b1eee037db",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "body body": {
                "name": "body",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "editor:body",
                "collapsed": false,
                "parameters": {
                    "id": {
                        "name": "id",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "msg",
                        "value": "payload.id"
                    },
                    "category": {
                        "name": "category",
                        "activeFilter": "",
                        "type": "editor:Category",
                        "parameters": {
                            "id": {
                                "name": "id",
                                "activeFilter": "",
                                "type": "msg",
                                "value": "payload.category.id"
                            },
                            "name": {
                                "name": "name",
                                "activeFilter": "",
                                "type": "msg",
                                "value": "payload.category.name"
                            }
                        }
                    },
                    "name": {
                        "name": "name",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "msg",
                        "value": "payload.name"
                    },
                    "photoUrls": {
                        "name": "photoUrls",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "json",
                        "value": "[]"
                    },
                    "tags": {
                        "name": "tags",
                        "activeFilter": "",
                        "type": "json",
                        "value": "true"
                    },
                    "status": {
                        "name": "status",
                        "activeFilter": "",
                        "type": "msg",
                        "value": "payload.status"
                    }
                },
                "in": "body"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "all",
                "text": "all responses"
            }
        ],
        "responseAsPayload": false,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 1380,
        "y": 140,
        "wires": [
            [
                "2810755f89def0ab"
            ]
        ]
    },
    {
        "id": "75126d56d71e3c3c",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "pet shop swagger example (classic)",
        "info": "",
        "x": 1280,
        "y": 100,
        "wires": []
    },
    {
        "id": "facfb133068f19c4",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 360,
        "wires": [
            [
                "84f43a190c420cc0"
            ]
        ]
    },
    {
        "id": "cfb1e29cc9832121",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 360,
        "wires": []
    },
    {
        "id": "12d7924ce265af7b",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 1200,
        "y": 420,
        "wires": [
            [
                "11c835bfe0e324a3"
            ]
        ]
    },
    {
        "id": "8c42edd3ad8f483f",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 420,
        "wires": []
    },
    {
        "id": "11c835bfe0e324a3",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "getPetById",
            "hasOperationId": true,
            "path": "/pet/{petId}",
            "method": "get"
        },
        "outputStyle": "classic",
        "errorHandling": "default",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "source": ""
        },
        "parameters": {
            "petId path": {
                "name": "petId",
                "isActive": true,
                "required": true,
                "type": "num",
                "value": "47",
                "in": "path"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            }
        ],
        "responseAsPayload": false,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 1390,
        "y": 420,
        "wires": [
            [
                "8c42edd3ad8f483f"
            ]
        ]
    },
    {
        "id": "84f43a190c420cc0",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "default",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "required": true,
                "isActive": true,
                "type": "json",
                "value": "{\"id\":47,\"name\":\"Hildegard\",\"photoUrls\":[]}",
                "collapsed": false
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            }
        ],
        "responseAsPayload": false,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 1380,
        "y": 360,
        "wires": [
            [
                "cfb1e29cc9832121"
            ]
        ]
    },
    {
        "id": "9f53aae319aea21a",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "pet shop openApi 3 example (classic)",
        "info": "",
        "x": 1290,
        "y": 320,
        "wires": []
    },
    {
        "id": "e70c041c9abdaf24",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 500,
        "wires": [
            [
                "fae3ae2c4e4f2543"
            ]
        ]
    },
    {
        "id": "032cdf22b09cbf50",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 500,
        "wires": []
    },
    {
        "id": "fae3ae2c4e4f2543",
        "type": "file in",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "filename": "./examples/dog.jpg",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1410,
        "y": 500,
        "wires": [
            [
                "12e3afafe385aec5"
            ]
        ]
    },
    {
        "id": "12e3afafe385aec5",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "uploadFile",
            "hasOperationId": true,
            "path": "/pet/{petId}/uploadImage",
            "method": "post"
        },
        "outputStyle": "classic",
        "errorHandling": "default",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "isActive": true,
                "type": "msg",
                "value": "payload"
            },
            "petId path": {
                "name": "petId",
                "isActive": true,
                "required": true,
                "type": "num",
                "value": "66",
                "in": "path"
            },
            "additionalMetadata query": {
                "name": "additionalMetadata",
                "type": "str",
                "value": "",
                "in": "query"
            }
        },
        "requestContentType": "application/octet-stream",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            }
        ],
        "responseAsPayload": true,
        "headers": [],
        "_version": "2.2.0",
        "x": 1610,
        "y": 500,
        "wires": [
            [
                "032cdf22b09cbf50"
            ]
        ]
    },
    {
        "id": "14862242a91c03b1",
        "type": "comment",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "set a path to an existing file",
        "info": "",
        "x": 1430,
        "y": 460,
        "wires": []
    },
    {
        "id": "18797dbc244535cc",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 220,
        "wires": [
            [
                "7f3d299d1ec31a66"
            ]
        ]
    },
    {
        "id": "9810d92794505360",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 220,
        "wires": []
    },
    {
        "id": "7f3d299d1ec31a66",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "01c6034556accf3a",
        "name": "",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": false,
        "operationData": {
            "id": "getPetById",
            "hasOperationId": true,
            "path": "/pet/{petId}",
            "method": "get"
        },
        "outputStyle": "classic",
        "errorHandling": "default",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "petId path": {
                "name": "petId",
                "isActive": true,
                "required": true,
                "type": "num",
                "value": "451",
                "in": "path"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "responseOutputLabels": [
            {
                "code": "successful",
                "text": "all successful responses (2xx)"
            }
        ],
        "responseAsPayload": true,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 1390,
        "y": 220,
        "wires": [
            [
                "9810d92794505360"
            ]
        ]
    },
    {
        "id": "1b52e6c758aacb10",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "get pet 451",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "451",
        "payloadType": "num",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "17b0e03a9286c258"
            ]
        ]
    },
    {
        "id": "54ce4caefeb8ba12",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 200",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "c6e69660fab90ac4",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 404",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "17b0e03a9286c258",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "configUrlNode": "4e8e4d5957412be2",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "getPetById",
            "hasOperationId": true,
            "path": "/pet/{petId}",
            "method": "get"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "petId path": {
                "name": "petId",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "msg",
                "collapsed": false,
                "value": "payload",
                "in": "path"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 3,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "successful operation"
            },
            {
                "code": "400",
                "text": "Invalid ID supplied"
            },
            {
                "code": "404",
                "text": "Pet not found"
            }
        ],
        "responseAsPayload": false,
        "debugMode": false,
        "headers": [
            {
                "key": "Hund",
                "valueType": "str",
                "value": "katze"
            }
        ],
        "_version": "2.2.0",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "54ce4caefeb8ba12"
            ],
            [
                "deee4299c301b4a8"
            ],
            [
                "c6e69660fab90ac4"
            ]
        ]
    },
    {
        "id": "deee4299c301b4a8",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 400",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "5e6a3d87843af348",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "error 404",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "17b0e03a9286c258"
            ]
        ]
    },
    {
        "id": "9571f83d9ff1cfb7",
        "type": "catch",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "catching all undefined responses",
        "scope": null,
        "uncaught": true,
        "x": 230,
        "y": 100,
        "wires": [
            [
                "a7a87e65a43ce895"
            ]
        ]
    },
    {
        "id": "a7a87e65a43ce895",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "error log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "4a87ce22e00f3efa",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 405",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "16ff18397b551163",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "get pet 66",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "66",
        "payloadType": "num",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "8045a1d812f80bfb"
            ]
        ]
    },
    {
        "id": "c2a567a74171bc92",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 200",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 820,
        "wires": []
    },
    {
        "id": "a2798a84ebf29821",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 404",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 900,
        "wires": []
    },
    {
        "id": "8045a1d812f80bfb",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "getPetById",
            "hasOperationId": true,
            "path": "/pet/{petId}",
            "method": "get"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "urlNotRead": false,
            "url": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "petId path": {
                "name": "petId",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "msg",
                "value": "payload",
                "in": "path"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 4,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "successful operation"
            },
            {
                "code": "400",
                "text": "Invalid ID supplied"
            },
            {
                "code": "404",
                "text": "Pet not found"
            },
            {
                "code": "default",
                "text": "Unexpected error"
            }
        ],
        "responseAsPayload": false,
        "debugMode": "",
        "headers": [],
        "_version": "2.2.0",
        "x": 370,
        "y": 860,
        "wires": [
            [
                "c2a567a74171bc92"
            ],
            [
                "3a9e9aaa25a5c025"
            ],
            [
                "a2798a84ebf29821"
            ],
            []
        ]
    },
    {
        "id": "3a9e9aaa25a5c025",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 400",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 860,
        "wires": []
    },
    {
        "id": "2acfae3a3b04e41f",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "error 400",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"10a\"",
        "payloadType": "str",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "8045a1d812f80bfb"
            ]
        ]
    },
    {
        "id": "6d04430b35be0819",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "error 404",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 940,
        "wires": [
            [
                "8045a1d812f80bfb"
            ]
        ]
    },
    {
        "id": "fe01a9e33899abda",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "not defined response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5be937fe9b529fc1",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add pet 952",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "1d205353151b266e"
            ]
        ]
    },
    {
        "id": "1d6d17c456d6e266",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "1d205353151b266e",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add Pet by editor",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "required": true,
                "isActive": true,
                "activeFilter": "",
                "type": "editor:Pet",
                "parameters": {
                    "id": {
                        "name": "id",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "num",
                        "value": "952"
                    },
                    "name": {
                        "name": "name",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "str",
                        "value": "Mr. Whizzlecat"
                    },
                    "category": {
                        "name": "category",
                        "activeFilter": "",
                        "type": "editor:Category",
                        "parameters": {
                            "id": {
                                "name": "id",
                                "activeFilter": ""
                            },
                            "name": {
                                "name": "name",
                                "activeFilter": ""
                            }
                        }
                    },
                    "photoUrls": {
                        "name": "photoUrls",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "json",
                        "value": "[]"
                    },
                    "tags": {
                        "name": "tags",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "array",
                        "value": [
                            {
                                "name": 0,
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "editor:Tag",
                                "collapsed": false,
                                "value": "",
                                "parameters": {
                                    "id": {
                                        "name": "id",
                                        "isActive": true,
                                        "activeFilter": "",
                                        "required": false,
                                        "type": "num",
                                        "collapsed": true,
                                        "value": "123",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"0\"].id"
                                    },
                                    "name": {
                                        "name": "name",
                                        "isActive": true,
                                        "activeFilter": "",
                                        "required": false,
                                        "type": "str",
                                        "collapsed": true,
                                        "value": "has a tag",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"0\"].name"
                                    }
                                },
                                "msgPathString": "payload.tags[\"0\"]"
                            },
                            {
                                "name": 1,
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "editor:Tag",
                                "collapsed": false,
                                "value": "",
                                "parameters": {
                                    "id": {
                                        "name": "id",
                                        "isActive": true,
                                        "activeFilter": "",
                                        "required": false,
                                        "type": "num",
                                        "collapsed": true,
                                        "value": "124",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"1\"].id"
                                    },
                                    "name": {
                                        "name": "name",
                                        "isActive": true,
                                        "activeFilter": "",
                                        "required": false,
                                        "type": "str",
                                        "collapsed": true,
                                        "value": "and even a second one",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"1\"].name"
                                    }
                                },
                                "msgPathString": "payload.tags[\"1\"]"
                            }
                        ]
                    },
                    "status": {
                        "name": "status",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "select",
                        "value": "available"
                    }
                },
                "collapsed": false
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 2,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "Successful operation"
            },
            {
                "code": "405",
                "text": "Invalid input"
            }
        ],
        "responseAsPayload": false,
        "debugMode": false,
        "headers": [],
        "_version": "2.2.0",
        "x": 390,
        "y": 620,
        "wires": [
            [
                "1d6d17c456d6e266"
            ],
            [
                "8d63e9e4de8cbe37"
            ]
        ]
    },
    {
        "id": "8d63e9e4de8cbe37",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 405",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 640,
        "wires": []
    },
    {
        "id": "f7e22af6d625591e",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "get pet 952",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "952",
        "payloadType": "num",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "8045a1d812f80bfb"
            ]
        ]
    },
    {
        "id": "c897adafa788de00",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add pet 632",
        "props": [
            {
                "p": "id",
                "v": "632",
                "vt": "num"
            },
            {
                "p": "payload"
            },
            {
                "p": "urls",
                "v": "[\"http://www.myDog.de\",\"http://www.myDog.com\",\"http://www.myDog.at\",\"http://www.myDog.gov\"]",
                "vt": "json"
            },
            {
                "p": "isActive",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"id\":13,\"nameX\":\"YEAH\"},{\"id\":15,\"nameX\":\"IT\"},{\"id\":1232,\"nameX\":\"WORKS\"}]",
        "payloadType": "json",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "ad8ebbbf4fad2678"
            ]
        ]
    },
    {
        "id": "65110c919e408b85",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 700,
        "wires": []
    },
    {
        "id": "8a432c1017ac312e",
        "type": "debug",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "defined response 405",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 740,
        "wires": []
    },
    {
        "id": "d81d9db98b14b421",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "get pet 632",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "632",
        "payloadType": "num",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "8045a1d812f80bfb"
            ]
        ]
    },
    {
        "id": "ad8ebbbf4fad2678",
        "type": "openApi-red",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add Pet by editor (has filter)",
        "configUrlNode": "4fc15b76b4d55d7d",
        "apiTag": "pet",
        "keepAuth": "",
        "operationData": {
            "id": "addPet",
            "hasOperationId": true,
            "path": "/pet",
            "method": "post"
        },
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "text": "",
            "url": false,
            "urlNotRead": false,
            "parameters": false,
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "required": true,
                "isActive": true,
                "activeFilter": "",
                "type": "editor:Pet",
                "parameters": {
                    "id": {
                        "name": "id",
                        "isActive": true,
                        "activeFilter": "{\n\treturn value === 632\n}",
                        "type": "msg",
                        "collapsed": false,
                        "value": "id"
                    },
                    "name": {
                        "name": "name",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "str",
                        "value": "Doggy Mc Dogface"
                    },
                    "category": {
                        "name": "category",
                        "activeFilter": "",
                        "type": "editor:Category",
                        "collapsed": false,
                        "parameters": {
                            "id": {
                                "name": "id",
                                "activeFilter": ""
                            },
                            "name": {
                                "name": "name",
                                "activeFilter": ""
                            }
                        }
                    },
                    "photoUrls": {
                        "name": "photoUrls",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "each",
                        "collapsed": false,
                        "value": [
                            {
                                "name": "0",
                                "isActive": true,
                                "activeFilter": "{\n\treturn url !== \"http://www.myDog.at\"\n}",
                                "required": true,
                                "type": "_each_url",
                                "collapsed": true,
                                "value": "",
                                "parameters": {},
                                "msgPathString": "payload.photoUrls[\"0\"]"
                            }
                        ],
                        "eachType": "msg",
                        "each": "urls",
                        "as": "url"
                    },
                    "tags": {
                        "name": "tags",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "each",
                        "collapsed": false,
                        "value": [
                            {
                                "name": 0,
                                "isActive": true,
                                "required": true,
                                "type": "editor:Tag",
                                "collapsed": false,
                                "value": "[{ \"id\": \"integer\", \"name\": \"string\" }]",
                                "parameters": {
                                    "id": {
                                        "name": "id",
                                        "isActive": true,
                                        "required": false,
                                        "type": "_each_tag",
                                        "collapsed": true,
                                        "value": ".id",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"0\"].id",
                                        "activeFilter": "{\n\treturn tag.id !== 13\n}"
                                    },
                                    "name": {
                                        "name": "name",
                                        "isActive": true,
                                        "required": false,
                                        "type": "_each_tag",
                                        "collapsed": true,
                                        "value": ".nameX",
                                        "parameters": {},
                                        "msgPathString": "payload.tags[\"0\"].name"
                                    }
                                },
                                "msgPathString": "payload.tags[\"0\"]",
                                "activeFilter": "{\n\treturn tag.id === 13 || tag.id === 15\n}"
                            }
                        ],
                        "eachType": "msg",
                        "each": "payload",
                        "as": "tag"
                    },
                    "status": {
                        "name": "status",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "select",
                        "value": "available"
                    }
                },
                "collapsed": false
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 2,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "Successful operation"
            },
            {
                "code": "405",
                "text": "Invalid input"
            }
        ],
        "responseAsPayload": false,
        "debugMode": false,
        "headers": [],
        "_version": "2.2.0",
        "x": 380,
        "y": 720,
        "wires": [
            [
                "65110c919e408b85"
            ],
            [
                "8a432c1017ac312e"
            ]
        ]
    },
    {
        "id": "751bd26d424cc321",
        "type": "inject",
        "z": "0c8e0c86799d088c",
        "g": "efb7a27e4dfae1f6",
        "name": "add pet 451",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "fd241870fe8e402a"
            ]
        ]
    },
    {
        "id": "d4f8c637ba287db1",
        "type": "inject",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Inject Current Temp",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "ba5dc6718d645637"
            ]
        ]
    },
    {
        "id": "69ded1d17cbec561",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Compare and Decide",
        "func": "const desired = flow.get('desired_temp') || 22;\nconst current = msg.payload.current;\nlet state = \"IDLE\";\nif (current < desired - 1) state = \"HEATING\";\nelse if (current > desired + 1) state = \"COOLING\";\nmsg.payload = { temperature: desired, unit: \"C\", current, state };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "1d06a67200a8e66e",
                "8081e1c458fe1e4b"
            ]
        ]
    },
    {
        "id": "9a05b0be9bfe3225",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "group": "2566b457ab10c854",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Status Display",
        "label": "Thermostat Status",
        "format": "{{msg.payload.state}} | Current: {{msg.payload.current}}째C | Target: {{msg.payload.temperature}}째C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1330,
        "y": 260,
        "wires": []
    },
    {
        "id": "1d06a67200a8e66e",
        "type": "async-api-red",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Send to Thermostat Device",
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "d9d04269593328c3",
                "9a05b0be9bfe3225"
            ]
        ]
    },
    {
        "id": "d9d04269593328c3",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 180,
        "wires": []
    },
    {
        "id": "1eb2f1ad87e9df5c",
        "type": "comment",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Thermostat simulation",
        "info": "",
        "x": 220,
        "y": 120,
        "wires": []
    },
    {
        "id": "09f2f1cdc17cf192",
        "type": "ui_slider",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Desired Temp",
        "label": "Set Desired Temp",
        "tooltip": "",
        "group": "2566b457ab10c854",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 15,
        "max": 30,
        "step": 1,
        "className": "",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "5fd815fb2caf5aba"
            ]
        ]
    },
    {
        "id": "5fd815fb2caf5aba",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Store Desired Temp",
        "func": "flow.set('desired_temp', msg.payload);\nreturn null;",
        "outputs": 1,
        "x": 470,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4c2bce897c0d2007",
        "type": "comment",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "AC simulation",
        "info": "",
        "x": 190,
        "y": 400,
        "wires": []
    },
    {
        "id": "1616e8d0253bffbf",
        "type": "inject",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Inject Random Brightness",
        "props": [],
        "repeat": "5",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 260,
        "y": 860,
        "wires": [
            [
                "29a719f9730293ac"
            ]
        ]
    },
    {
        "id": "29a719f9730293ac",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Generate Brightness",
        "func": "const brightness = Math.floor(Math.random() * 101);\nmsg.payload = { brightness };\nreturn msg;",
        "outputs": 1,
        "x": 520,
        "y": 800,
        "wires": [
            [
                "b58e5041e4c9741b",
                "d83a4d77d7f049bf"
            ]
        ]
    },
    {
        "id": "b58e5041e4c9741b",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Check Brightness",
        "func": "const brightness = msg.payload.brightness;\nmsg.payload = {\n    state: brightness >= 80 ? \"on\" : \"off\",\n    brightness\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 800,
        "wires": [
            [
                "dba1b26fa3a4b0a8"
            ]
        ]
    },
    {
        "id": "d83a4d77d7f049bf",
        "type": "ui_chart",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Brightness Chart",
        "group": "bca09b7d8c2ffdc1",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Brightness Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "84eae99cd8fb8148",
        "type": "switch",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Light ON or OFF?",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1230,
        "y": 740,
        "wires": [
            [
                "9b07cf1424fb44b6"
            ],
            [
                "499267adb5adb442"
            ]
        ]
    },
    {
        "id": "9b07cf1424fb44b6",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Count ON",
        "func": "let count = context.get('on') || 0;\ncount += 1;\ncontext.set('on', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "x": 1520,
        "y": 720,
        "wires": [
            [
                "02494731b443fa30"
            ]
        ]
    },
    {
        "id": "499267adb5adb442",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Count OFF",
        "func": "let count = context.get('off') || 0;\ncount += 1;\ncontext.set('off', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "x": 1520,
        "y": 760,
        "wires": [
            [
                "4229373250208f05"
            ]
        ]
    },
    {
        "id": "02494731b443fa30",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "group": "bca09b7d8c2ffdc1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Times ON",
        "label": "Light ON Count",
        "format": "{{msg.payload}} times",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1740,
        "y": 720,
        "wires": []
    },
    {
        "id": "4229373250208f05",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "group": "bca09b7d8c2ffdc1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Times OFF",
        "label": "Light OFF Count",
        "format": "{{msg.payload}} times",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1740,
        "y": 760,
        "wires": []
    },
    {
        "id": "dba1b26fa3a4b0a8",
        "type": "async-api-red",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Send to Light Device",
        "x": 1000,
        "y": 860,
        "wires": [
            [
                "84eae99cd8fb8148",
                "c0f6b3899961c14c",
                "ae9ed5515183f125",
                "bdacb97c9c98471c"
            ]
        ]
    },
    {
        "id": "c0f6b3899961c14c",
        "type": "ui_gauge",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "Brightness",
        "group": "bca09b7d8c2ffdc1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Brightness",
        "label": "%",
        "format": "{{msg.payload.brightness}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 60,
        "seg2": 80,
        "diff": false,
        "className": "",
        "x": 1250,
        "y": 840,
        "wires": []
    },
    {
        "id": "ae9ed5515183f125",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "group": "bca09b7d8c2ffdc1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Light State",
        "label": "Light State",
        "format": "{{msg.payload.state}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1250,
        "y": 940,
        "wires": []
    },
    {
        "id": "bdacb97c9c98471c",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f42d0e7a987f22d0",
        "type": "comment",
        "z": "a527806fb52a0bc0",
        "g": "6996a7f421765b1a",
        "name": "smartlights simulation",
        "info": "",
        "x": 220,
        "y": 720,
        "wires": []
    },
    {
        "id": "2f8c3fe9e3a364d1",
        "type": "ui_switch",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "Door Lock Switch",
        "label": "Lock Door",
        "tooltip": "",
        "group": "dad53fb0db2749ce",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 210,
        "y": 1200,
        "wires": [
            [
                "aec069bf440e39e4"
            ]
        ]
    },
    {
        "id": "aec069bf440e39e4",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "Format DoorLock Payload",
        "func": "msg.payload = { locked: msg.payload };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1200,
        "wires": [
            [
                "601a43db7ca6fa0a"
            ]
        ]
    },
    {
        "id": "601a43db7ca6fa0a",
        "type": "async-api-red",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "SmartDoor Lock ",
        "x": 720,
        "y": 1140,
        "wires": [
            [
                "f6b18e5f375f811d",
                "47886e634365fb88"
            ]
        ]
    },
    {
        "id": "47886e634365fb88",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "Update Dashboard Status",
        "func": "msg.payload = msg.payload.locked ? \"Locked\" : \"Unlocked\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1220,
        "wires": [
            [
                "f324d4a123376c63"
            ]
        ]
    },
    {
        "id": "f324d4a123376c63",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "group": "dad53fb0db2749ce",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Lock Status Text",
        "label": "Door Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1320,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f6b18e5f375f811d",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 1140,
        "wires": []
    },
    {
        "id": "6aa34857a3f76ef9",
        "type": "comment",
        "z": "a527806fb52a0bc0",
        "g": "38af56c2be0e770c",
        "name": "Smartdoor",
        "info": "",
        "x": 180,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d4868acaa6b1056b",
        "type": "comment",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "cofee machine simulator",
        "info": "",
        "x": 230,
        "y": 1360,
        "wires": []
    },
    {
        "id": "format_coffee",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "Format Coffee Payload",
        "func": "msg.payload = {\n  strength: msg.payload.strength,\n  size: msg.payload.size\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 1460,
        "wires": [
            [
                "b972287969dd1e02"
            ]
        ]
    },
    {
        "id": "join_coffee",
        "type": "join",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "Join Strength & Size",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 480,
        "y": 1460,
        "wires": [
            [
                "format_coffee"
            ]
        ]
    },
    {
        "id": "debug_coffee",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "Debug Coffee Payload",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1220,
        "y": 1400,
        "wires": []
    },
    {
        "id": "b972287969dd1e02",
        "type": "async-api-red",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "SmartDoor Lock ",
        "x": 1000,
        "y": 1460,
        "wires": [
            [
                "debug_coffee",
                "ui_coffee_status"
            ]
        ]
    },
    {
        "id": "ui_size",
        "type": "ui_dropdown",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "Select Size",
        "label": "Coffee Size",
        "tooltip": "",
        "place": "",
        "group": "b9c9d459bcc50b6b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Small",
                "value": "small",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "medium",
                "type": "str"
            },
            {
                "label": "Large",
                "value": "large",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "size",
        "topicType": "str",
        "className": "",
        "x": 230,
        "y": 1500,
        "wires": [
            [
                "join_coffee"
            ]
        ]
    },
    {
        "id": "ui_strength",
        "type": "ui_dropdown",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "name": "Select Strength",
        "label": "Coffee Strength",
        "tooltip": "",
        "place": "",
        "group": "b9c9d459bcc50b6b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Light",
                "value": "light",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "medium",
                "type": "str"
            },
            {
                "label": "Strong",
                "value": "strong",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "strength",
        "topicType": "str",
        "className": "",
        "x": 220,
        "y": 1440,
        "wires": [
            [
                "join_coffee"
            ]
        ]
    },
    {
        "id": "ui_coffee_status",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "d6d6813509f8a19b",
        "group": "b9c9d459bcc50b6b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Order Status",
        "label": "Coffee Order",
        "format": "{{msg.payload.strength}} / {{msg.payload.size}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1230,
        "y": 1480,
        "wires": []
    },
    {
        "id": "652fef5d99c41776",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Check AC State",
        "func": "const currentTemp = msg.payload.temperature;\nconst desiredTemp = flow.get(\"desired_temp\") || 24;\nmsg.payload = {\n    temperature: currentTemp,\n    desired: desiredTemp,\n    unit: 'C',\n    state: currentTemp > desiredTemp ? \"ON\" : \"OFF\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 460,
        "wires": [
            [
                "98def4b9de0bd9e0",
                "3cdc3eae3c728601"
            ]
        ]
    },
    {
        "id": "98def4b9de0bd9e0",
        "type": "async-api-red",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "AC Controller Node",
        "x": 1040,
        "y": 460,
        "wires": [
            [
                "977bf35655af95ea",
                "325004b4427897ea",
                "6f5c1f35a0395420"
            ]
        ]
    },
    {
        "id": "977bf35655af95ea",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Debug AC Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 420,
        "wires": []
    },
    {
        "id": "325004b4427897ea",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "group": "2484b2e7392bda74",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "AC State",
        "label": "AC State",
        "format": "AC is {{msg.payload.state}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1400,
        "y": 500,
        "wires": []
    },
    {
        "id": "4ffc7d206027f2ef",
        "type": "ui_slider",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Desired Temp",
        "label": "Set Desired Temp",
        "tooltip": "",
        "group": "2484b2e7392bda74",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 15,
        "max": 30,
        "step": 1,
        "className": "",
        "x": 300,
        "y": 540,
        "wires": [
            [
                "180cc2c38f2b7ec2"
            ]
        ]
    },
    {
        "id": "180cc2c38f2b7ec2",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Store Desired Temp",
        "func": "flow.set('desired_temp', msg.payload);\nreturn null;",
        "outputs": 1,
        "x": 570,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "6f5c1f35a0395420",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Track Energy",
        "func": "// Constants\nconst power_kW = 1.5; // Power usage of the AC in kW\n\n// Get previous state and timestamp\nconst prevState = flow.get(\"ac_last_state\") || \"OFF\";\nconst lastChange = flow.get(\"ac_last_change\") || Date.now();\nconst energy = flow.get(\"energy_consumed\") || 0;\n\nconst now = Date.now();\nlet newEnergy = energy;\n\nif (prevState === \"ON\" && msg.payload.state === \"OFF\") {\n    const durationHrs = (now - lastChange) / (1000 * 60 * 60);\n    newEnergy += durationHrs * power_kW;\n    flow.set(\"energy_consumed\", newEnergy);\n}\n\n// Update flow context\nflow.set(\"ac_last_state\", msg.payload.state);\nflow.set(\"ac_last_change\", now);\n\nmsg.energy = newEnergy.toFixed(3);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 540,
        "wires": [
            [
                "c90d975ea0894abd"
            ]
        ]
    },
    {
        "id": "c90d975ea0894abd",
        "type": "ui_text",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "group": "2484b2e7392bda74",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Energy Display",
        "label": "Total Energy (kWh)",
        "format": "{{msg.energy}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1400,
        "y": 580,
        "wires": []
    },
    {
        "id": "e5f04a5e61c95926",
        "type": "ui_button",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Reset Energy",
        "label": "Reset Energy",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 300,
        "y": 600,
        "wires": [
            [
                "87c71e9f1e18a5cb"
            ]
        ]
    },
    {
        "id": "87c71e9f1e18a5cb",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Reset Energy Values",
        "func": "flow.set(\"energy_consumed\", 0);\nflow.set(\"ac_last_change\", Date.now());\nreturn null;",
        "outputs": 0,
        "x": 570,
        "y": 600,
        "wires": []
    },
    {
        "id": "ba5dc6718d645637",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Generate Current Temp",
        "func": "msg.payload = { current: Math.floor(15 + Math.random() * 15) };\nreturn msg;",
        "outputs": 1,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "69ded1d17cbec561",
                "27b270e5d78bc103"
            ]
        ]
    },
    {
        "id": "27b270e5d78bc103",
        "type": "ui_gauge",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "Current Temp",
        "group": "2566b457ab10c854",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "째C",
        "format": "{{msg.payload.current}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "a11a61d05abb0fd9",
        "type": "function",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Generate Current Temp",
        "func": "msg.payload = { temperature: Math.floor(15 + Math.random() * 15) };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 460,
        "wires": [
            [
                "96ab1cc712be6574",
                "652fef5d99c41776"
            ]
        ]
    },
    {
        "id": "97a42e312b36f637",
        "type": "inject",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Inject Current Temp",
        "props": [],
        "repeat": "5",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "a11a61d05abb0fd9"
            ]
        ]
    },
    {
        "id": "96ab1cc712be6574",
        "type": "ui_gauge",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "Current Temp",
        "group": "2484b2e7392bda74",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "째C",
        "format": "{{msg.payload.temperature}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "3cdc3eae3c728601",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "a0bc03072058d078",
        "name": "input ac",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 400,
        "wires": []
    },
    {
        "id": "8081e1c458fe1e4b",
        "type": "debug",
        "z": "a527806fb52a0bc0",
        "g": "50a045551ea38743",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 120,
        "wires": []
    },
    {
        "id": "209eb22e55aef159",
        "type": "subflow:subflow-thermostat-logic",
        "z": "a7f4785e36cba6a2",
        "name": "Thermostat 1 Logic",
        "x": 1290,
        "y": 300,
        "wires": [
            [
                "b693ac0c316bb007",
                "278d3dc18bde92a3"
            ]
        ]
    },
    {
        "id": "b693ac0c316bb007",
        "type": "ui_text",
        "z": "a7f4785e36cba6a2",
        "group": "111",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Status 1",
        "label": "Thermostat 1",
        "format": "{{msg.payload.state}} | {{msg.payload.current}}째C / {{msg.payload.desired}}째C",
        "layout": "row-spread",
        "x": 1530,
        "y": 280,
        "wires": []
    },
    {
        "id": "278d3dc18bde92a3",
        "type": "ui_gauge",
        "z": "a7f4785e36cba6a2",
        "name": "Gauge 1",
        "group": "111",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temp 1",
        "label": "째C",
        "format": "{{msg.payload.current}}",
        "min": 10,
        "max": 35,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1530,
        "y": 320,
        "wires": []
    },
    {
        "id": "d413c272304f7027",
        "type": "function",
        "z": "a7f4785e36cba6a2",
        "name": "Attach Desired Temp 1",
        "func": "msg.desired = flow.get(\"desired1\") || 22;\nreturn msg;",
        "outputs": 1,
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "209eb22e55aef159"
            ]
        ]
    },
    {
        "id": "04f14957bb63ad6c",
        "type": "inject",
        "z": "a7f4785e36cba6a2",
        "name": "Simulate Temp 1",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "e5cf4791a88d36ed"
            ]
        ]
    },
    {
        "id": "e5cf4791a88d36ed",
        "type": "function",
        "z": "a7f4785e36cba6a2",
        "name": "Generate Random Temp",
        "func": "msg.payload = { current: Math.floor(15 + Math.random() * 10) };\nreturn msg;",
        "outputs": 1,
        "x": 890,
        "y": 360,
        "wires": [
            [
                "d413c272304f7027"
            ]
        ]
    },
    {
        "id": "b1b29f96499e193e",
        "type": "ui_slider",
        "z": "a7f4785e36cba6a2",
        "name": "Slider 1",
        "label": "Desired Temp 1",
        "tooltip": "",
        "group": "111",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 15,
        "max": 30,
        "step": 1,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "a3b785ec104fb684"
            ]
        ]
    },
    {
        "id": "a3b785ec104fb684",
        "type": "function",
        "z": "a7f4785e36cba6a2",
        "name": "Store Desired 1",
        "func": "flow.set(\"desired1\", msg.payload);\nreturn null;",
        "outputs": 1,
        "x": 1080,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f3c546cb501a34c1",
        "type": "subflow:subflow-thermostat-logic",
        "z": "a7f4785e36cba6a2",
        "name": "Thermostat 2 Logic",
        "x": 1290,
        "y": 500,
        "wires": [
            [
                "de83e57ebf24426f",
                "f43d8752f3a53b9e"
            ]
        ]
    },
    {
        "id": "de83e57ebf24426f",
        "type": "ui_text",
        "z": "a7f4785e36cba6a2",
        "group": "222",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Status 2",
        "label": "Thermostat 2",
        "format": "{{msg.payload.state}} | {{msg.payload.current}}째C / {{msg.payload.desired}}째C",
        "layout": "row-spread",
        "x": 1530,
        "y": 480,
        "wires": []
    },
    {
        "id": "f43d8752f3a53b9e",
        "type": "ui_gauge",
        "z": "a7f4785e36cba6a2",
        "name": "Gauge 2",
        "group": "222",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temp 2",
        "label": "째C",
        "format": "{{msg.payload.current}}",
        "min": 10,
        "max": 35,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1530,
        "y": 520,
        "wires": []
    },
    {
        "id": "1deeb3c38486ec3e",
        "type": "inject",
        "z": "a7f4785e36cba6a2",
        "name": "Simulate Temp 2",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 610,
        "y": 500,
        "wires": [
            [
                "dcbcc6db108b2ef3"
            ]
        ]
    },
    {
        "id": "dcbcc6db108b2ef3",
        "type": "function",
        "z": "a7f4785e36cba6a2",
        "name": "Generate Temp 2",
        "func": "msg.payload = { current: Math.floor(15 + Math.random() * 10) };\nreturn msg;",
        "outputs": 1,
        "x": 830,
        "y": 560,
        "wires": [
            [
                "a7f9f85e8ad8fa6e"
            ]
        ]
    },
    {
        "id": "a7f9f85e8ad8fa6e",
        "type": "function",
        "z": "a7f4785e36cba6a2",
        "name": "Attach Desired 2",
        "func": "msg.desired = flow.get(\"desired2\") || 22;\nreturn msg;",
        "outputs": 1,
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "f3c546cb501a34c1"
            ]
        ]
    },
    {
        "id": "1f5477c9da2d418f",
        "type": "ui_slider",
        "z": "a7f4785e36cba6a2",
        "name": "Slider 2",
        "label": "Desired Temp 2",
        "tooltip": "",
        "group": "222",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 15,
        "max": 30,
        "step": 1,
        "x": 840,
        "y": 440,
        "wires": [
            [
                "ba9cd257a3f10828"
            ]
        ]
    },
    {
        "id": "ba9cd257a3f10828",
        "type": "function",
        "z": "a7f4785e36cba6a2",
        "name": "Store Desired 2",
        "func": "flow.set(\"desired2\", msg.payload);\nreturn null;",
        "outputs": 1,
        "x": 1080,
        "y": 440,
        "wires": [
            []
        ]
    }
]